Repository Percona-Lab/jenkins-pipelines, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Percona-Lab/build-engineers, @egegunes, @inelpandzic, @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @olexandr-havryliak, @sandraromanchenko

.github/CODEOWNERS:

# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @tplavcic @nmarukovich @cap1984 
/pmm/ @talhabinrizwan @atymchuk @puneet0191
/IaC/pmm.cd/ @talhabinrizwan @atymchuk
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
/pdpxc/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers

initial version
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

minor refactoring
  cloud/jenkins/ps_operator_eks_latest.groovy
  cloud/jenkins/ps_operator_gke_latest.groovy
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Change list of supported OS for PSMDB 7.0
  vars/pdmdbOperatingSystems.groovy
Owners: @Percona-Lab/build-engineers

Resolving latest Tomislav's comments
  cloud/jenkins/pgo_operator_eks-latest.groovy
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_gke_latest.groovy
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

removing even more commented and unnecessary stash/unstash calls
  cloud/jenkins/ps_operator_eks_latest.groovy
  cloud/jenkins/ps_operator_gke_latest.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_gke_latest.groovy
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Change list of supported OS for PSMDB 7.0 (#2288)
  vars/pdmdbOperatingSystems.groovy
Owners: @Percona-Lab/build-engineers

renaming to confortm with the others
  cloud/jenkins/psmdb_operator_aws_openshift_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

renaming to conform with the others
  cloud/jenkins/pgo_operator_aws_openshift_latest.groovy
  cloud/jenkins/pgo_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_aws_openshift_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Update pgpool2-build.groovy
  ppg/pgpool2-build.groovy
Owners: @Percona-Lab/build-engineers

Update pgpool2-build.groovy (#2289)
  ppg/pgpool2-build.groovy
Owners: @Percona-Lab/build-engineers

PS-8923 Create debug tarball for all supported glibc versions
  ps/jenkins/percona-server-for-mysql-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PS-8923 Create debug tarball for all supported glibc versions (#2290)
  ps/jenkins/percona-server-for-mysql-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Adding pg-16 to choices of supported pg versions. (#2285)
  ppg/component.groovy
  vars/ppgScenarios.groovy
  vars/ppgUpgradeScenarios.groovy
Owners: @Percona-Lab/build-engineers

Add new versions for pgsql and pdpgsql
  pmm/aws-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Updated pgsql
  pmm/aws-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

CHecking with other distributions
  ps/jenkins/test-ps-innodb-cluster.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Restore original repo
  ps/jenkins/test-ps-innodb-cluster.groovy
  ps/jenkins/test-ps-innodb-cluster.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Fix ol8
  ps/jenkins/package-testing-ps-build-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-7 artifact /srv/logs
  pmm/pmm2-upgrade-tests.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Update pmm2-upgrade-tests.groovy
  pmm/pmm2-upgrade-tests.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

testing with my branch
  ps/jenkins/package-testing-ps-build-8.0.groovy
  ps/jenkins/package-testing-ps-build-8.0.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Restore original repo
  ps/jenkins/package-testing-ps-build-8.0.groovy
  ps/jenkins/package-testing-ps-build-8.0.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Fix Ansible version for oracle linux 8 (#2291)
  ps/jenkins/package-testing-ps-build-8.0.groovy
  ps/jenkins/package-testing-ps-build-8.0.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-7 artifact /srv/logs (#2292)
  pmm/pmm2-upgrade-tests.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PBM-1177 remove PSMDB 4.2 from tests (#2287)
  pbm/pbm-e2e-tests.groovy
  pbm/pbm-functional-tests-full.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Add bookworm in PS innodb cluster job (#2274)
  ps/jenkins/test-ps-innodb-cluster.groovy
  ps/jenkins/test-ps-innodb-cluster.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

ENG-1211 Automate the jenkins job for sysbench Release
  sysbench/sysbench.groovy
  sysbench/sysbench.yml
Owners: @Percona-Lab/build-engineers

PS-8591 percona-mysql-shell linux generic package missing from downloads
  ps/jenkins/mysql-shell.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Adding cron triggers for running the -latest pipelines
  cloud/jenkins/pgo_operator_eks_latest.groovy
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/ps_operator_eks_latest.groovy
  cloud/jenkins/ps_operator_gke_latest.groovy
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aws_openshift_latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_gke_latest.groovy
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aws_openshift_latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PS-8591 percona-mysql-shell linux generic package missing from downloads (#2293)
  ps/jenkins/mysql-shell.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

cron: specify 0, because it seems that 7 is non-standard for Sunday
  cloud/jenkins/pgo_operator_eks_latest.groovy
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/ps_operator_eks_latest.groovy
  cloud/jenkins/ps_operator_gke_latest.groovy
  pmm/pmm2-ami-upgrade-tests-matrix.groovy
  pmm/pmm2-ovf-upgrade-tests-matrix.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191

Wwe want to be able to run with tech preview versions of Kubernetes platform
  cloud/jenkins/psmdb_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

ENG-733 ps3.cd: update to version 2.414.1
  IaC/ps3.cd/JenkinsStack.yml
Owners: @Percona-Lab/build-engineers

fix missed wget request
  rel/jenkins/update-repo-index.groovy
  vars/updateRepoIndex.groovy
Owners: @Percona-Lab/build-engineers

fix missed wget request
  rel/jenkins/update-repo-index.groovy
Owners: @Percona-Lab/build-engineers

Fixed missed wget command (#2294)
  vars/updateRepoIndex.groovy
Owners: @Percona-Lab/build-engineers

adding/syncing cron schedule with .groovy scripts
  cloud/jenkins/pgo-operator-eks-latest.yml
  cloud/jenkins/pgo-operator-gke-latest.yml
  cloud/jenkins/ps-operator-eks-latest.yml
  cloud/jenkins/ps-operator-gke-latest.yml
  cloud/jenkins/psmdb-operator-aks-latest.yml
  cloud/jenkins/psmdb-operator-aws-openshift-latest.yml
  cloud/jenkins/psmdb-operator-gke-latest.yml
  cloud/jenkins/pxc-operator-aks-latest.yml
  cloud/jenkins/pxc-operator-aws-openshift-latest.yml
  cloud/jenkins/pxc-operator-gke-latest.yml
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Added 8.1 jobs and KMIP / VAULT / XBCLOUD
  pxb/v2/docker/run-test
  pxb/v2/jenkins/percona-xtrabackup-8.0-test-cloud-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.0-test-cloud-pipeline.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-compile-param.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-compile-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-compile-pipeline.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-cloud-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-cloud-pipeline.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-param.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-trunk.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1.yml
  pxb/v2/local/build-binary
  pxb/v2/local/checkout
  pxb/v2/local/test-binary
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Update latest PDPGSQL and PGSQL versions
  pmm/aws-staging-start.groovy
  pmm/pmm2-ui-tests-matrix.groovy
  pmm/pmm2-ui-tests-nightly.groovy
  pmm/pmm2-ui-tests.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 Fix OVF builds on DigitalOcean by using new auth token.
  pmm/pmm2-ovf-image-test.groovy
  pmm/pmm2-ovf-staging-start.groovy
  pmm/pmm2-ovf-staging-stop.groovy
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191
