Repository Percona-Lab/jenkins-pipelines, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Percona-Lab/build-engineers, @egegunes, @inelpandzic, @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @olexandr-havryliak, @sandraromanchenko

PSMDB-1308 Create binary packages of PSMDB 4.4 and 5.0 for the ARM64 architecture
  psmdb/jenkins/percona-server-for-mongodb-4.4-aarch64.groovy
  psmdb/jenkins/percona-server-for-mongodb-4.4-aarch64.yml
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PBM added possibilty to run tests on ARM
  pbm/pbm-functional-tests.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Add instalation of assert plugin for kubectl
  cloud/jenkins/ps_operator_aws_openshift-4.groovy
  cloud/jenkins/ps_operator_eks_version.groovy
  cloud/jenkins/ps_operator_gke_version.groovy
  cloud/jenkins/ps_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Add instalation of assert plugin for kubectl (#2271)
  cloud/jenkins/ps_operator_aws_openshift-4.groovy
  cloud/jenkins/ps_operator_eks_version.groovy
  cloud/jenkins/ps_operator_gke_version.groovy
  cloud/jenkins/ps_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PBM added possibilty to run tests on ARM (#2270)
  pbm/pbm-functional-tests.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PSMDB docker tests using PBM functional tests
  psmdb/psmdb-docker-arm.groovy
  psmdb/psmdb-docker.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Do not propagate and wait for testing job
  psmdb/psmdb-docker-arm.groovy
  psmdb/psmdb-docker.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Fixed typo
  psmdb/psmdb-docker-arm.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

introduce the latest kybernetes variable
  cloud/jenkins/psmdb_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PMM-7 Update pmm2-ui-tests-nightly.groovy
  pmm/pmm2-ui-tests-nightly.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Add bookworm in PS innodb cluster job
  ps/jenkins/test-ps-innodb-cluster.groovy
  ps/jenkins/test-ps-innodb-cluster.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Use last PBM release instead of main
  psmdb/psmdb-docker-arm.groovy
  psmdb/psmdb-docker.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Updating python
  ps/jenkins/test-ps-innodb-cluster.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-7 Update pmm2-ui-tests-nightly.groovy (#2273)
  pmm/pmm2-ui-tests-nightly.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Update other groovy scripts
  pmm/pmm2-ui-tests-matrix.groovy
  pmm/pmm2-ui-tests-nightly.groovy
  pmm/pmm2-ui-tests.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Update PDPGSQL Versions in Jenkins job (#2275)
  pmm/aws-staging-start.groovy
  pmm/pmm2-ui-tests-matrix.groovy
  pmm/pmm2-ui-tests-nightly.groovy
  pmm/pmm2-ui-tests.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PSMDB docker tests using PBM functional tests (#2272)
  psmdb/psmdb-docker-arm.groovy
  psmdb/psmdb-docker.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PSMDB-1259 psmdb-70: remove Debian:buster build
  psmdb/jenkins/percona-server-for-mongodb-7.0.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PSMDB-1259 psmdb-70: remove Debian:buster build
  psmdb/jenkins/percona-server-for-mongodb-7.0.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

introduced az login in the beginning so we can extract latest kubernetes versoin first
  cloud/jenkins/psmdb_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

refactoring - introducing a new method and rearranging code
  cloud/jenkins/psmdb_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PT-2078 Automate the jenkins job for PT Release
  pt/jenkins/percona-toolkit.groovy
  pt/jenkins/percona-toolkit.yml
Owners: @eleo007, @panchal-yash, @Percona-Lab/build-engineers

suppressing the output of the azure-cli install script
  cloud/jenkins/psmdb_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

refactor: deleted markPassedTests() method and merged into initTests()
  cloud/jenkins/psmdb_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

forgot to uncomment some code + different way of installing kubectl + removed .params prefix from variable names
  cloud/jenkins/psmdb_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

introduced az login and in the beginning and merged 2 other methods
  cloud/jenkins/psmdb_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

removing params. prefix in front of some variable names + export USE_GKE_GCLOUD_AUTH_PLUGIN=True is not needed anymore
  cloud/jenkins/psmdb_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

export USE_GKE_GCLOUD_AUTH_PLUGIN=True not neede because I install google-cloud-cli-gke-gcloud-auth-plugin with yum
  cloud/jenkins/psmdb_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

removing unnecessary curly braces around variable references
  cloud/jenkins/psmdb_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

refactoring if statements to be more modern with double square brackets [[
  cloud/jenkins/psmdb_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

simplifying exports section
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

more refactoring: helm isn't needed; refactored the retry loop for cluster creation; bumped the jq and yq versions
  cloud/jenkins/psmdb_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Add aarm support for percona-release
  percona-release/jenkins/percona-release.groovy
  vars/uploadRPMfromAWS.groovy
Owners: @Percona-Lab/build-engineers

CLOUD-803 - Add IGNORE_PREVIOUS_RUN param and add md5 to S3 filename
  cloud/jenkins/psmdb-operator-lke-version.yml
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aks_version.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-4.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_eks_version.groovy
  cloud/jenkins/psmdb_operator_gke_latest.groovy
  cloud/jenkins/psmdb_operator_gke_version.groovy
  cloud/jenkins/psmdb_operator_lke_version.groovy
  cloud/jenkins/pxc-operator-lke-version.yml
  cloud/jenkins/pxc_operator_lke_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

ENG-7 pxb.cd: update jenkins and pkgkey
  IaC/pxb.cd/terraform/master_user_data.sh
Owners: @Percona-Lab/build-engineers

CLOUD-803 - Add IGNORE_PREVIOUS_RUN and S3 hash for PXC jobs
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aks_version.groovy
  cloud/jenkins/pxc_operator_aws_openshift-4.groovy
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_eks_version.groovy
  cloud/jenkins/pxc_operator_gke_latest.groovy
  cloud/jenkins/pxc_operator_gke_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Fix minikube tests
  cloud/jenkins/psmdb_operator_minikube.groovy
  cloud/jenkins/pxc_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

ENG-7 pxb.cd: update jenkins and pkgkey
  IaC/pxb.cd/terraform/master_user_data.sh
Owners: @Percona-Lab/build-engineers

PSMDB-1318 mongosh: add debian 12 build
  psmdb/jenkins/percona-mongodb-mongosh.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

CLOUD-803 - Add IGNORE_PREVIOUS_RUN and S3 hash for PS jobs
  cloud/jenkins/ps_operator_eks_version.groovy
  cloud/jenkins/ps_operator_gke_version.groovy
  cloud/jenkins/ps_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

.github/CODEOWNERS:

# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @tplavcic @nmarukovich @cap1984 
/pmm/ @talhabinrizwan @atymchuk @puneet0191
/IaC/pmm.cd/ @talhabinrizwan @atymchuk
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
/pdpxc/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
