Repository Percona-Lab/jenkins-pipelines, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Percona-Lab/build-engineers, @egegunes, @inelpandzic, @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @olexandr-havryliak, @sandraromanchenko

PMM Merge EL9 and EL7 build pipelines.
  pmm/pmm2-client-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM Merge EL9 and EL7 build pipelines.
  pmm/pmm2-client-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Creating new router docker test job
  pdps/router_docker.groovy
  pdps/router_docker.yml
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

Testing through my repo
  pdps/router_docker.groovy
  pdps/router_docker.yml
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

PMM-12156 Update pmm/pmm2-client-autobuild.groovy
  pmm/pmm2-client-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-client-autobuild.groovy
  pmm/pmm2-client-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PXC-4234: Update Jenkins Docker images for centos:8 and oraclelinux:9
  pxc/docker/install-deps
  pxc/local/build-binary-pxc-parallel-mtr
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

ENG-1187 Automate the jenkins job for ProxySQL Release
  proxysql/proxysql.groovy
  proxysql/proxysql.yml
Owners: @Percona-Lab/build-engineers

ENG-1187 Automate the jenkins job for ProxySQL Release
  proxysql/proxysql.groovy
  proxysql/proxysql.yml
Owners: @Percona-Lab/build-engineers

Fix PXC/PSMDB pipelines with cloud secret file
  cloud/jenkins/psmdb_operator_aws_openshift-4.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_eks_version.groovy
  cloud/jenkins/pxc_operator_aws_openshift-4.groovy
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_eks_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Fix PXC/PSMDB pipelines with cloud secret file (#2113)
  cloud/jenkins/psmdb_operator_aws_openshift-4.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_eks_version.groovy
  cloud/jenkins/pxc_operator_aws_openshift-4.groovy
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_eks_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Add a job for creating on demand OpenShift clusters
  cloud/jenkins/create-openshift-cluster.yml
  cloud/jenkins/create_openshift_cluster.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

K8SPG-355 add cluster wide and update pgo pipelines
  cloud/jenkins/pgo_operator_eks.groovy
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
  cloud/jenkins/pgo_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

fix pipelines
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

ENG-1126 Automate PXB 8.0 release jenkins job
  pxb/jenkins/pxb-80.groovy
  pxb/jenkins/pxb-80.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

ENG-1126 Automate PXB 8.0 release jenkins job
  pxb/jenkins/pxb-80.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

fix methods names
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

ENG-1126 Automate PXB 8.0 release jenkins job
  pxb/jenkins/pxb-80.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

fix Prefix -> Suffix
  cloud/jenkins/pgo_operator_gke_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

ENG-1195 fix push path
  vars/sync2ProdPMM.groovy
Owners: @Percona-Lab/build-engineers

ENG-1195 fix push path (#2116)
  vars/sync2ProdPMM.groovy
Owners: @Percona-Lab/build-engineers

fix pipelines
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

ENG-1126 Automate PXB 8.0 release jenkins job
  pxb/jenkins/pxb-80.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

fix PR comments - add spaces
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
  cloud/jenkins/pgo_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

K8SPG-355 add cluster wide and update jenkins pipelines. (#2115)
  cloud/jenkins/pgo_operator_eks.groovy
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
  cloud/jenkins/pgo_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

ENG-7 move notifications to releases-ci
  pbm/jenkins/get-pbm-branches.groovy
  ppg/get-pg_stat_monitor-branches.groovy
  ppg/pg_stat_monitor-autobuild.groovy
  ps/jenkins/get-ps-branches-5.7.groovy
  ps/jenkins/get-ps-branches-8.0.groovy
  ps/jenkins/percona-server-for-mysql-5.7.groovy
  psmdb/jenkins/get-psmdb-branches-4.0.groovy
  psmdb/jenkins/get-psmdb-branches-4.2.groovy
  psmdb/jenkins/get-psmdb-branches-4.4.groovy
  psmdb/jenkins/get-psmdb-branches.groovy
  psmdb/jenkins/percona-server-for-mongodb-3.6.groovy
  psmdb/jenkins/percona-server-for-mongodb-4.0.groovy
  psmdb/jenkins/percona-server-for-mongodb-4.2.groovy
  psmdb/jenkins/percona-server-for-mongodb-4.4.groovy
  pxc/jenkins/get-pxc-branches-8.0.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash

ENG-7 move notifications to releases-ci (#2117)
  pbm/jenkins/get-pbm-branches.groovy
  ppg/get-pg_stat_monitor-branches.groovy
  ppg/pg_stat_monitor-autobuild.groovy
  ps/jenkins/get-ps-branches-5.7.groovy
  ps/jenkins/get-ps-branches-8.0.groovy
  ps/jenkins/percona-server-for-mysql-5.7.groovy
  psmdb/jenkins/get-psmdb-branches-4.0.groovy
  psmdb/jenkins/get-psmdb-branches-4.2.groovy
  psmdb/jenkins/get-psmdb-branches-4.4.groovy
  psmdb/jenkins/get-psmdb-branches.groovy
  psmdb/jenkins/percona-server-for-mongodb-3.6.groovy
  psmdb/jenkins/percona-server-for-mongodb-4.0.groovy
  psmdb/jenkins/percona-server-for-mongodb-4.2.groovy
  psmdb/jenkins/percona-server-for-mongodb-4.4.groovy
  pxc/jenkins/get-pxc-branches-8.0.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash

ENG-1196 fix repo sync
  pmm/pmm2-client-autobuild.groovy
  vars/sync2ProdPMMClient.groovy
  vars/sync2ProdPMMClientRepo.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191, @Percona-Lab/build-engineers

ENG-1196 fix repo sync (#2118)
  pmm/pmm2-client-autobuild.groovy
  vars/sync2ProdPMMClient.groovy
  vars/sync2ProdPMMClientRepo.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191, @Percona-Lab/build-engineers

PDPS: Update VERSION & PXB_VERSION description
  pdps/pdps-multi-parallel.groovy
  pdps/pdps-multi.groovy
  pdps/pdps-parallel.groovy
  pdps/pdps-upgrade-parallel.groovy
  pdps/pdps-upgrade.groovy
  pdps/pdps.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

PDPXC: Update VERSION & PXB_VERSION description
  pdpxc/pdpxc-multi-parallel.groovy
  pdpxc/pdpxc-multi.groovy
  pdpxc/pdpxc-parallel.groovy
  pdpxc/pdpxc-upgrade-parallel.groovy
  pdpxc/pdpxc-upgrade.groovy
  pdpxc/pdpxc.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

Update defaults
  pdps/orchestrator.groovy
  pdps/orchestrator_docker.groovy
  pdps/pdps-parallel.groovy
  pdps/pdps-upgrade-parallel.groovy
  pdps/pdps-upgrade.groovy
  pdps/pdps.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

PDMYSQL: update descriptions and defauls (#2119)
  pdps/orchestrator.groovy
  pdps/orchestrator_docker.groovy
  pdps/pdps-multi-parallel.groovy
  pdps/pdps-multi.groovy
  pdps/pdps-parallel.groovy
  pdps/pdps-upgrade-parallel.groovy
  pdps/pdps-upgrade.groovy
  pdps/pdps.groovy
  pdpxc/pdpxc-multi-parallel.groovy
  pdpxc/pdpxc-multi.groovy
  pdpxc/pdpxc-parallel.groovy
  pdpxc/pdpxc-upgrade-parallel.groovy
  pdpxc/pdpxc-upgrade.groovy
  pdpxc/pdpxc.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

PMM-12156 Update pmm/pmm2-server-autobuild.groovy
  pmm/pmm2-server-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Revert yq version to v3 for PSMDB GKE job
  cloud/jenkins/psmdb_operator_gke_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

1. Updated ppgOperatingSystems.groovy to reflect ol-8 and ol-9. 2. Updated multi-parallel to disable downgrade jobs that always fail.
  ppg/component.groovy
  ppg/ppg-multi-parallel.groovy
  ppg/ppg-multi.groovy
  vars/ppgOperatingSystems.groovy
Owners: @Percona-Lab/build-engineers

Updated groovy files, ppg-multi-parallel and ppgOperatingSystems. (#2120)
  ppg/component.groovy
  ppg/ppg-multi-parallel.groovy
  ppg/ppg-multi.groovy
Owners: @Percona-Lab/build-engineers

PMM-12156 Update pmm/pmm2-server-autobuild.groovy
  pmm/pmm2-server-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-server-autobuild.groovy
  pmm/pmm2-server-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-server-autobuild.groovy
  pmm/pmm2-server-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

.github/CODEOWNERS:

# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @tplavcic @nmarukovich @cap1984 
/pmm/ @talhabinrizwan @atymchuk @puneet0191
/IaC/pmm.cd/ @talhabinrizwan @atymchuk
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
/pdpxc/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
