Repository Percona-Lab/jenkins-pipelines, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Percona-Lab/build-engineers, @egegunes, @inelpandzic, @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @olexandr-havryliak, @sandraromanchenko

ENG-1197 Automate the jenkins job for PXC 5.7 Release
  pxc/jenkins/percona-xtradb-cluster-5.7.groovy
  pxc/jenkins/percona-xtradb-cluster-5.7.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

ENG-7 Add postgresql build job
  ppg/postgresql_server.groovy
  ppg/postgresql_server.yml
Owners: @Percona-Lab/build-engineers

ENG-7 Add postgresql build job (#2156)
  ppg/postgresql_server.groovy
  ppg/postgresql_server.yml
Owners: @Percona-Lab/build-engineers

ENG-7 fix job
  ppg/postgresql_server.yml
Owners: @Percona-Lab/build-engineers

Eng 7 automate pgsql (#2157)
  ppg/postgresql_server.yml
Owners: @Percona-Lab/build-engineers

ENG-7 fix properties
  ppg/postgresql_server.groovy
Owners: @Percona-Lab/build-engineers

Eng 7 automate pgsql (#2158)
  ppg/postgresql_server.groovy
Owners: @Percona-Lab/build-engineers

ENG-7 fix params
  ppg/postgresql_server.groovy
Owners: @Percona-Lab/build-engineers

Eng 7 automate pgsql (#2159)
  ppg/postgresql_server.groovy
Owners: @Percona-Lab/build-engineers

ENG-7 Update postgresql_server.groovy
  ppg/postgresql_server.groovy
Owners: @Percona-Lab/build-engineers

ENG-7 Update postgresql_server.groovy (#2160)
  ppg/postgresql_server.groovy
Owners: @Percona-Lab/build-engineers

add mysql-shell build job
  ps/jenkins/mysql-shell.groovy
  ps/jenkins/mysql-shell.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

add mysql-shell build job
  ps/jenkins/mysql-shell.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

add mysql-shell build job
  ps/jenkins/mysql-shell.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

add mysql-shell build job
  ps/jenkins/mysql-shell.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

ProxySQL version bump from 2.5.1 -> 2.5.2
  proxysql/qa-proxysql2-param.yml
  proxysql/qa-proxysql2-pipeline.groovy
Owners: @Percona-Lab/build-engineers

ProxySQL version bump from 2.5.1 -> 2.5.2 (#2161)
  proxysql/qa-proxysql2-param.yml
  proxysql/qa-proxysql2-pipeline.groovy
Owners: @Percona-Lab/build-engineers

add mysql-shell build job
  ps/jenkins/mysql-shell.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

add mysql-shell build job
  ps/jenkins/mysql-shell.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Added a softlink to find go binaries
  proxysql/build-binary-proxysql
Owners: @Percona-Lab/build-engineers

Added a softlink to find go binaries (#2162)
  proxysql/build-binary-proxysql
Owners: @Percona-Lab/build-engineers

PMM-12136 Create EL-9 based feature build by default.
  pmm/pmm2-submodules.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

add mysql-shell build job
  ps/jenkins/mysql-shell.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Revert "Added a softlink to find go binaries (#2162)"
  proxysql/build-binary-proxysql
Owners: @Percona-Lab/build-engineers

Revert "Added a softlink to find go binaries (#2162)" (#2163)
  proxysql/build-binary-proxysql
Owners: @Percona-Lab/build-engineers

Disabled checks with vanila postgres. Enabled pgpool and postgis components jobs in ppg-multi-parallel.
  ppg/ppg-multi-parallel.groovy
Owners: @Percona-Lab/build-engineers

Added two new components, popool and postgis, to available components list.
  ppg/component.groovy
Owners: @Percona-Lab/build-engineers

PSQLADM-484 - unable to install uuid-dev on debian stretch
  proxysql/build-binary-proxysql
Owners: @Percona-Lab/build-engineers

PSQLADM-484 - unable to install uuid-dev on debian stretch (#2164)
  proxysql/build-binary-proxysql
Owners: @Percona-Lab/build-engineers

Added sudo
  proxysql/build-binary-proxysql
Owners: @Percona-Lab/build-engineers

Added sudo (#2165)
  proxysql/build-binary-proxysql
Owners: @Percona-Lab/build-engineers

Added sudo apt-get update before installing uuid-dev on debian stretch
  proxysql/build-binary-proxysql
Owners: @Percona-Lab/build-engineers

Added sudo apt-get update before installing uuid-dev on debian stretch (#2166)
  proxysql/build-binary-proxysql
Owners: @Percona-Lab/build-engineers

Increase build history for cloud projects
  cloud/jenkins/pgo_operator_aws_openshift-4.groovy
  cloud/jenkins/pgo_operator_aws_openshift-latest.groovy
  cloud/jenkins/pgo_operator_eks.groovy
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
  cloud/jenkins/pgo_operator_minikube.groovy
  cloud/jenkins/ps_operator_aws_openshift-4.groovy
  cloud/jenkins/ps_operator_eks_version.groovy
  cloud/jenkins/ps_operator_gke_version.groovy
  cloud/jenkins/ps_operator_minikube.groovy
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aks_version.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-4.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_eks_version.groovy
  cloud/jenkins/psmdb_operator_gke_latest.groovy
  cloud/jenkins/psmdb_operator_gke_version.groovy
  cloud/jenkins/psmdb_operator_lke_version.groovy
  cloud/jenkins/psmdb_operator_minikube.groovy
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aks_version.groovy
  cloud/jenkins/pxc_operator_aws_openshift-4.groovy
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_eks_version.groovy
  cloud/jenkins/pxc_operator_gke_latest.groovy
  cloud/jenkins/pxc_operator_gke_version.groovy
  cloud/jenkins/pxc_operator_lke_version.groovy
  cloud/jenkins/pxc_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Increase build history for cloud projects (#2167)
  cloud/jenkins/pgo_operator_aws_openshift-4.groovy
  cloud/jenkins/pgo_operator_aws_openshift-latest.groovy
  cloud/jenkins/pgo_operator_eks.groovy
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
  cloud/jenkins/pgo_operator_minikube.groovy
  cloud/jenkins/ps_operator_aws_openshift-4.groovy
  cloud/jenkins/ps_operator_eks_version.groovy
  cloud/jenkins/ps_operator_gke_version.groovy
  cloud/jenkins/ps_operator_minikube.groovy
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aks_version.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-4.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_eks_version.groovy
  cloud/jenkins/psmdb_operator_gke_latest.groovy
  cloud/jenkins/psmdb_operator_gke_version.groovy
  cloud/jenkins/psmdb_operator_lke_version.groovy
  cloud/jenkins/psmdb_operator_minikube.groovy
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aks_version.groovy
  cloud/jenkins/pxc_operator_aws_openshift-4.groovy
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_eks_version.groovy
  cloud/jenkins/pxc_operator_gke_latest.groovy
  cloud/jenkins/pxc_operator_gke_version.groovy
  cloud/jenkins/pxc_operator_lke_version.groovy
  cloud/jenkins/pxc_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PMM-7 Update pmm2-ui-tests.groovy
  pmm/pmm2-ui-tests.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

add mysql-shell build job
  ps/jenkins/mysql-shell.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

add mysql-shell build job
  ps/jenkins/mysql-shell.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Update ec2-instance-checks.groovy
  misc/ec2-instance-checks.groovy
Owners: @Percona-Lab/build-engineers

Disable vanila postgres check. (#2169)
  ppg/component.groovy
  ppg/ppg-multi-parallel.groovy
Owners: @Percona-Lab/build-engineers

.github/CODEOWNERS:

# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @tplavcic @nmarukovich @cap1984 
/pmm/ @talhabinrizwan @atymchuk @puneet0191
/IaC/pmm.cd/ @talhabinrizwan @atymchuk
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
/pdpxc/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
