Repository Percona-Lab/jenkins-pipelines, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Percona-Lab/build-engineers, @egegunes, @inelpandzic, @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @olexandr-havryliak, @sandraromanchenko

PBM-1170 pbm: create debian 12 packages
  pbm/jenkins/percona-mongodb-backup.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

ENG-1207 Create build pipeline for percona everest cli
  pmm/everest-cli.groovy
  pmm/everest-cli.yml
  vars/uploadTarballToDownloadsTesting.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191, @Percona-Lab/build-engineers

ENG-1207 Create build pipeline for percona everest cli
  vars/uploadTarballToDownloadsTesting.groovy
Owners: @Percona-Lab/build-engineers

ENG-1207 Create build pipeline for percona everest cli
  pmm/everest-cli.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

ENG-1207 Create build pipeline for percona everest cli
  pmm/everest-cli.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

ENG-1207 create build pipeline for percona everest cli (#2260)
  pmm/everest-cli.groovy
  pmm/everest-cli.yml
  vars/uploadTarballToDownloadsTesting.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191, @Percona-Lab/build-engineers

PS80 integration: Move the Variable declaration to Create PS source tarball stage
  ps/jenkins/percona-server-for-mysql-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

ENG-7 Fix pg jenkins server.
  IaC/pg.cd/JenkinsStack.yml
Owners: @Percona-Lab/build-engineers

PMM-9769 Fix EL9 build.
  pmm/pmm2-ami.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-9769 Fix EL9 build.
  pmm/pmm2-ami.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Update bookworm in PXC package-testing job 5.7 and 8.0
  pxc/jenkins/pxc-package-testing-parallel.groovy
  pxc/jenkins/pxc-package-testing.groovy
  pxc/jenkins/pxc-package-testing.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

ENG-7 Fix pg jenkins server. (#2263)
  IaC/pg.cd/JenkinsStack.yml
Owners: @Percona-Lab/build-engineers

PMM-9769 Fix EL9 build.
  pmm/pmm2-ami.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PXC-4254: Add Debian 12 to supported operating systems (5.7 and 8.0)
  pxc/docker/install-deps
  pxc/jenkins/param-parallel-mtr.yml
  pxc/jenkins/param57.yml
  pxc/jenkins/pxc57-pipeline.groovy
  pxc/jenkins/pxc57-pipeline.yml
  pxc/jenkins/pxc80-pipeline-parallel-mtr.groovy
  pxc/jenkins/pxc80-pipeline-parallel-mtr.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PXC-4254: Add Debian 12 to supported operating systems (5.7 and 8.0) (#2261)
  pxc/docker/install-deps
  pxc/jenkins/param-parallel-mtr.yml
  pxc/jenkins/param57.yml
  pxc/jenkins/pxc57-pipeline.groovy
  pxc/jenkins/pxc57-pipeline.yml
  pxc/jenkins/pxc80-pipeline-parallel-mtr.groovy
  pxc/jenkins/pxc80-pipeline-parallel-mtr.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Testing with my repo
  pxc/jenkins/pxc-package-testing.groovy
  pxc/jenkins/pxc-package-testing.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Update pxc-package-testing.groovy add debian 12 in SSH_USER
  pxc/jenkins/pxc-package-testing.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

delete eks clusters
  cloud/aws-functions/orphaned_resources.py
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

delete unused prints
  cloud/aws-functions/orphaned_resources.py
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Revert original repo
  pxc/jenkins/pxc-package-testing.groovy
  pxc/jenkins/pxc-package-testing.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Update bookworm in PXC package-testing job 5.7 and 8.0 (#2264)
  pxc/jenkins/pxc-package-testing-parallel.groovy
  pxc/jenkins/pxc-package-testing.groovy
  pxc/jenkins/pxc-package-testing.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PT-2078 Automate the jenkins job for PT Release
  pt/jenkins/percona-toolkit.groovy
  pt/jenkins/percona-toolkit.yml
Owners: @eleo007, @panchal-yash, @Percona-Lab/build-engineers

Add a new version for Percona PGSQL
  pmm/aws-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

fix node deletion
  cloud/aws-functions/orphaned_resources.py
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PMM-9769 Use ansible-core to buid OVF image.
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-9769 Use ansible-core to buid OVF image.
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

CLOUD-802 - Fix PSMDB AKS latest job to use latest kube version by default
  cloud/jenkins/psmdb_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

update deletion script
  cloud/aws-functions/orphaned_resources.py
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

developing...
  cloud/jenkins/psmdb_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

dev
  cloud/jenkins/psmdb_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Escape dollar sign in psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Fix psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PSMDB-1311 PSMDB gated builds with FIPS enabled
  psmdb/jenkins/percona-server-for-mongodb-6.0.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PSMDB-1311 PSMDB gated builds with FIPS enabled
  psmdb/jenkins/percona-server-for-mongodb-6.0.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PSMDB-1311 psmdb builds with fips enabled (#2267)
  psmdb/jenkins/percona-server-for-mongodb-6.0.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PSMDB-1311 PSMDB gated builds with FIPS enabled
  psmdb/jenkins/percona-server-for-mongodb-6.0.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PSMDB-1311 PSMDB gated builds with FIPS enabled (#2268)
  psmdb/jenkins/percona-server-for-mongodb-6.0.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Updates to version
  pmm/aws-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PSMDB-1308 Create binary packages of PSMDB 4.4 and 5.0 for the ARM64 architecture
  psmdb/jenkins/percona-server-for-mongodb-4.4-aarch64.groovy
  psmdb/jenkins/percona-server-for-mongodb-4.4-aarch64.yml
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PSMDB-1308 Create binary packages of PSMDB 5.0 for the ARM64 architecture
  psmdb/jenkins/percona-server-for-mongodb-5.0-aarch64.groovy
  psmdb/jenkins/percona-server-for-mongodb-5.0-aarch64.yml
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

.github/CODEOWNERS:

# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @tplavcic @nmarukovich @cap1984 
/pmm/ @talhabinrizwan @atymchuk @puneet0191
/IaC/pmm.cd/ @talhabinrizwan @atymchuk
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
/pdpxc/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
