Repository Percona-Lab/jenkins-pipelines, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Percona-Lab/build-engineers, @egegunes, @inelpandzic, @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @olexandr-havryliak, @sandraromanchenko

PXB-3049 rhel9 tests fails due to missing library
  pxc/docker/install-deps
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

test pipeline
  cloud/jenkins/pgo_operator_eks.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

test pipeline
  cloud/jenkins/pgo_operator_eks.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PXB-3049 rhel9 tests fails due to missing library
  pxc/docker/install-deps
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PXB-3049 rhel9 tests fails due to missing library
  pxc/docker/install-deps
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

test pipeline
  cloud/jenkins/pgo_operator_eks.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PXB-3049 rhel9 tests fails due to missing library (#2105)
  pxc/docker/install-deps
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

test pipeline
  cloud/jenkins/pgo_operator_eks.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

test pipeline
  cloud/jenkins/pgo_operator_eks.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

ENG-1176 disable weak ssl/tls 1.0/1.1 protocols
  IaC/cloud.cd/JenkinsStack.yml
  IaC/fb.cd/JenkinsStack.yml
  IaC/pg.cd/JenkinsStack.yml
  IaC/pmm.cd/JenkinsStack.yml
  IaC/ps3.cd/JenkinsStack.yml
  IaC/ps57.cd/JenkinsStack.yml
  IaC/ps80.cd/JenkinsStack.yml
  IaC/psmdb.cd/JenkinsStack.yml
  IaC/pxb.cd/terraform/master_user_data.sh
  IaC/pxc.cd/JenkinsStack.yml
  IaC/rel.cd/JenkinsStack.yml
Owners: @Percona-Lab/build-engineers, @talhabinrizwan, @atymchuk

fix
  cloud/jenkins/pgo_operator_eks.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PSMDB. Add cleanup step for runners
  psmdb/psmdb-regression.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PSMDB. Add cleanup step for runners (#2103)
  psmdb/psmdb-regression.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PSMDB. Add manifest creation for multiarch docker image (#2101)
  psmdb/psmdb-docker-arm.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

test fix
  cloud/jenkins/pgo_operator_eks.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

ENG-1176 disable weak ssl/tls 1.0/1.1 protocols
  IaC/cloud.cd/JenkinsStack.yml
  IaC/fb.cd/JenkinsStack.yml
  IaC/pg.cd/JenkinsStack.yml
  IaC/pmm.cd/JenkinsStack.yml
  IaC/ps3.cd/JenkinsStack.yml
  IaC/ps57.cd/JenkinsStack.yml
  IaC/ps80.cd/JenkinsStack.yml
  IaC/psmdb.cd/JenkinsStack.yml
  IaC/pxb.cd/terraform/master_user_data.sh
  IaC/pxc.cd/JenkinsStack.yml
  IaC/rel.cd/JenkinsStack.yml
Owners: @Percona-Lab/build-engineers, @talhabinrizwan, @atymchuk

K8SPG-302 - Add minikube pipeline for PostgreSQL operator
  cloud/jenkins/pgo-operator-minikube.yml
  cloud/jenkins/pgo_operator_aws_openshift-4.groovy
  cloud/jenkins/pgo_operator_aws_openshift-latest.groovy
  cloud/jenkins/pgo_operator_eks.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
  cloud/jenkins/pgo_operator_minikube.groovy
  cloud/jenkins/psmdb_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

K8SPG-302 - Add minikube pipeline for PostgreSQL operator (#2107)
  cloud/jenkins/pgo-operator-minikube.yml
  cloud/jenkins/pgo_operator_aws_openshift-4.groovy
  cloud/jenkins/pgo_operator_aws_openshift-latest.groovy
  cloud/jenkins/pgo_operator_eks.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
  cloud/jenkins/pgo_operator_minikube.groovy
  cloud/jenkins/psmdb_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

add dynamic test list
  cloud/jenkins/pgo_operator_eks.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

fix pipeline
  cloud/jenkins/pgo_operator_eks.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

fix pipeline
  cloud/jenkins/pgo_operator_eks.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

fix vars name
  cloud/jenkins/pgo_operator_eks.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Skipping some ditributions in PS 5.6 job
  ps/jenkins/package-testing-ps-build-5.7.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Skipping some ditributions in PS 5.6 job (#2108)
  ps/jenkins/package-testing-ps-build-5.7.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

fix value
  cloud/jenkins/pgo_operator_eks.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PMM-12085 Fix ssh access to AMI for EL7 and EL9.
  pmm/pmm2-ami-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12085 Fix ssh access to AMI for EL7 and EL9.
  pmm/pmm2-ami-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12085 Fix ssh access to AMI for EL7 and EL9.
  pmm/pmm2-ami-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12085 Fix ssh access to AMI for EL7 and EL9.
  pmm/pmm2-ami-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12085 Fix ssh access to AMI for EL7 and EL9.
  pmm/pmm2-ami-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12085 Fix ssh access to AMI for EL7 and EL9.
  pmm/pmm2-ami-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

fix creds
  cloud/jenkins/pgo_operator_eks.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

fix CW
  cloud/jenkins/pgo_operator_eks.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PMM-12085 Fix ssh access to AMI for EL7 and EL9.
  pmm/pmm2-ami-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

fix spaces
  cloud/jenkins/pgo_operator_eks.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

K8SPG-303 Run PG v2 on EKS (#2096)
  cloud/jenkins/pgo_operator_eks.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PMM 12085 Fix ssh access to AMI images for el7 and el9. (#2109)
  pmm/pmm2-ami-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Use GIT_SHORT_COMMIT for pushing test result artifacts
  cloud/jenkins/ps_operator_aws_openshift-4.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-4.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_eks_version.groovy
  cloud/jenkins/pxc_operator_aws_openshift-4.groovy
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_eks_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Use GIT_SHORT_COMMIT for pushing test result artifacts (#2110)
  cloud/jenkins/ps_operator_aws_openshift-4.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-4.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_eks_version.groovy
  cloud/jenkins/pxc_operator_aws_openshift-4.groovy
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_eks_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PMM Merge EL9 and EL7 build pipelines.
  pmm/pmm2-client-autobuild.groovy
  vars/uploadRPM.groovy
  vars/uploadTarball.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191, @Percona-Lab/build-engineers

.github/CODEOWNERS:

# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @tplavcic @nmarukovich @cap1984 
/pmm/ @talhabinrizwan @atymchuk @puneet0191
/IaC/pmm.cd/ @talhabinrizwan @atymchuk
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
/pdpxc/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
