Repository Percona-Lab/jenkins-pipelines, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Percona-Lab/build-engineers, @egegunes, @inelpandzic, @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @olexandr-havryliak, @sandraromanchenko

.github/CODEOWNERS:

# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @tplavcic @nmarukovich @cap1984 
/pmm/ @talhabinrizwan @atymchuk @puneet0191
/IaC/pmm.cd/ @talhabinrizwan @atymchuk
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
/pdpxc/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers

K8SPXC-1165 - Update PXC latests jobs to have unique cluster name
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

K8SPXC-1165 - Update PXC latests jobs to have unique cluster name (#2186)
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Update regions for AKS latest jobs to westeurope
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Update regions for AKS latest jobs to westeurope (#2187)
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PMM-12136 Create EL-9 based feature build by default.
  pmm/pmm2-submodules.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12136 Create EL-9 based feature build by default. (#2188)
  pmm/pmm2-submodules.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Add trivy analyzer checks for orchestrator test
  pdps/orchestrator_docker.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

Add Debian Bookworm in proxysql package testing jobs
  proxysql/qa-proxysql2-param.yml
  proxysql/qa-proxysql2-pipeline.groovy
  pxc/jenkins/proxysql-package-testing-all.groovy
  pxc/jenkins/proxysql-package-testing.groovy
  pxc/jenkins/proxysql-package-testing.yml
Owners: @Percona-Lab/build-engineers, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash

Add Debian Bookworm in proxysql package testing jobs (#2190)
  proxysql/qa-proxysql2-param.yml
  proxysql/qa-proxysql2-pipeline.groovy
  pxc/jenkins/proxysql-package-testing-all.groovy
  pxc/jenkins/proxysql-package-testing.groovy
  pxc/jenkins/proxysql-package-testing.yml
Owners: @Percona-Lab/build-engineers, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash

Add trivy analyzer checks for orchestrator test (#2189)
  pdps/orchestrator_docker.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

fix bookworm
  pxc/jenkins/proxysql-package-testing.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Fix proxysql package testing job for bookworm (#2191)
  pxc/jenkins/proxysql-package-testing.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Enable debug mode for cloud E2E tests
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aks_version.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-4.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_eks_version.groovy
  cloud/jenkins/psmdb_operator_gke_latest.groovy
  cloud/jenkins/psmdb_operator_gke_version.groovy
  cloud/jenkins/psmdb_operator_minikube.groovy
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aks_version.groovy
  cloud/jenkins/pxc_operator_aws_openshift-4.groovy
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_eks_version.groovy
  cloud/jenkins/pxc_operator_gke_latest.groovy
  cloud/jenkins/pxc_operator_gke_version.groovy
  cloud/jenkins/pxc_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Enable debug mode for cloud E2E tests (#2192)
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aks_version.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-4.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_eks_version.groovy
  cloud/jenkins/psmdb_operator_gke_latest.groovy
  cloud/jenkins/psmdb_operator_gke_version.groovy
  cloud/jenkins/psmdb_operator_minikube.groovy
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aks_version.groovy
  cloud/jenkins/pxc_operator_aws_openshift-4.groovy
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_eks_version.groovy
  cloud/jenkins/pxc_operator_gke_latest.groovy
  cloud/jenkins/pxc_operator_gke_version.groovy
  cloud/jenkins/pxc_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Set fixed version of jq in cloud tests to 4.27.2
  cloud/jenkins/pgo_operator_aws_openshift-4.groovy
  cloud/jenkins/pgo_operator_aws_openshift-latest.groovy
  cloud/jenkins/pgo_operator_eks.groovy
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
  cloud/jenkins/pgo_operator_minikube.groovy
  cloud/jenkins/ps_operator_aws_openshift-4.groovy
  cloud/jenkins/ps_operator_eks_version.groovy
  cloud/jenkins/ps_operator_gke_version.groovy
  cloud/jenkins/ps_operator_minikube.groovy
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aks_version.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-4.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_eks_version.groovy
  cloud/jenkins/psmdb_operator_gke_latest.groovy
  cloud/jenkins/psmdb_operator_gke_version.groovy
  cloud/jenkins/psmdb_operator_minikube.groovy
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aks_version.groovy
  cloud/jenkins/pxc_operator_aws_openshift-4.groovy
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_eks_version.groovy
  cloud/jenkins/pxc_operator_gke_latest.groovy
  cloud/jenkins/pxc_operator_gke_version.groovy
  cloud/jenkins/pxc_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Fix the yq version to current latest 4.34.1
  cloud/jenkins/pgo_operator_aws_openshift-4.groovy
  cloud/jenkins/pgo_operator_aws_openshift-latest.groovy
  cloud/jenkins/pgo_operator_eks.groovy
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
  cloud/jenkins/pgo_operator_minikube.groovy
  cloud/jenkins/ps_operator_aws_openshift-4.groovy
  cloud/jenkins/ps_operator_eks_version.groovy
  cloud/jenkins/ps_operator_gke_version.groovy
  cloud/jenkins/ps_operator_minikube.groovy
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aks_version.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-4.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_eks_version.groovy
  cloud/jenkins/psmdb_operator_gke_latest.groovy
  cloud/jenkins/psmdb_operator_gke_version.groovy
  cloud/jenkins/psmdb_operator_lke_version.groovy
  cloud/jenkins/psmdb_operator_minikube.groovy
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aks_version.groovy
  cloud/jenkins/pxc_operator_aws_openshift-4.groovy
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_eks_version.groovy
  cloud/jenkins/pxc_operator_gke_latest.groovy
  cloud/jenkins/pxc_operator_gke_version.groovy
  cloud/jenkins/pxc_operator_lke_version.groovy
  cloud/jenkins/pxc_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Add git account selection
  pdps/pdps.groovy
  vars/pdpsOperatingSystems.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

CLOUD-793 - Set fixed version of jq in cloud tests to 1.6 and yq to 4.34.1 (#2193)
  cloud/jenkins/pgo_operator_aws_openshift-4.groovy
  cloud/jenkins/pgo_operator_aws_openshift-latest.groovy
  cloud/jenkins/pgo_operator_eks.groovy
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
  cloud/jenkins/pgo_operator_minikube.groovy
  cloud/jenkins/ps_operator_aws_openshift-4.groovy
  cloud/jenkins/ps_operator_eks_version.groovy
  cloud/jenkins/ps_operator_gke_version.groovy
  cloud/jenkins/ps_operator_minikube.groovy
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aks_version.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-4.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_eks_version.groovy
  cloud/jenkins/psmdb_operator_gke_latest.groovy
  cloud/jenkins/psmdb_operator_gke_version.groovy
  cloud/jenkins/psmdb_operator_lke_version.groovy
  cloud/jenkins/psmdb_operator_minikube.groovy
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aks_version.groovy
  cloud/jenkins/pxc_operator_aws_openshift-4.groovy
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_eks_version.groovy
  cloud/jenkins/pxc_operator_gke_latest.groovy
  cloud/jenkins/pxc_operator_gke_version.groovy
  cloud/jenkins/pxc_operator_lke_version.groovy
  cloud/jenkins/pxc_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PMM-7 Fix image scanning pipeline.
  pmm/pmm2-image-scanning.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 Fix release pipeline for both el7 and el9.
  pmm/pmm2-release.groovy
  pmm/pmm2-server-autobuild-el7.groovy
  pmm/pmm2-server-autobuild-el9.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Add git account selection
  pdpxc/pdpxc.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

Add git account selection
  vars/pdpxcOperatingSystems.groovy
Owners: @Percona-Lab/build-engineers

Add git account selection
  pdpxc/pdpxc-parallel.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

Add git account selection
  vars/pdpxcOperatingSystems.groovy
Owners: @Percona-Lab/build-engineers

Add testing_git_account variable
  pdps/pdps-parallel.groovy
  pdps/pdps-upgrade-parallel.groovy
  pdps/pdps-upgrade.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

PXC: Add testing_git_account variable
  pdpxc/pdpxc-upgrade-parallel.groovy
  pdpxc/pdpxc-upgrade.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

Increase openshift resources
  cloud/jenkins/pxc_operator_aws_openshift-4.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Add Debian 12 and git account selection for PDMYSQL (#2195)
  pdps/pdps-parallel.groovy
  pdps/pdps-upgrade-parallel.groovy
  pdps/pdps-upgrade.groovy
  pdps/pdps.groovy
  pdpxc/pdpxc-parallel.groovy
  pdpxc/pdpxc-upgrade-parallel.groovy
  pdpxc/pdpxc-upgrade.groovy
  pdpxc/pdpxc.groovy
  vars/pdpsOperatingSystems.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

PMM-7 Fix release pipeline el9 (#2194)
  pmm/pmm2-image-scanning.groovy
  pmm/pmm2-release.groovy
  pmm/pmm2-server-autobuild-el7.groovy
  pmm/pmm2-server-autobuild-el9.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Tried to build image
  pdps/router_docker.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

Added global params for resmoke.py
  psmdb/psmdb-regression.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Added exclude serverless tag by default
  psmdb/psmdb-regression.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PMM-7 bump 2.38.0 version for jobs
  vars/pmmVersion.groovy
Owners: @Percona-Lab/build-engineers

PMM-7 bump 2.38.0 version for jobs (#2197)
  vars/pmmVersion.groovy
Owners: @Percona-Lab/build-engineers

ENG-7 PBM deb src: change build OS stretch -> buster
  pbm/jenkins/percona-mongodb-backup.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

ENG-7 PBM deb src: change build OS stretch -> buster
  pbm/jenkins/percona-mongodb-backup.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Added global params for resmoke.py (#2196)
  psmdb/psmdb-regression.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PBM-1138 Create arm based RPMs for PBM
  pbm/jenkins/percona-mongodb-backup-aarch64.groovy
  pbm/jenkins/percona-mongodb-backup-aarch64.yml
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Add percona-release job to rel.cd
  percona-release/jenkins/percona-release.groovy
  percona-release/jenkins/percona-release.yml
  vars/uploadDEBfromAWS.groovy
Owners: @Percona-Lab/build-engineers

Add bookworm to jobs
  ps/jenkins/percona-server-for-mysql-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers
