Repository Percona-Lab/jenkins-pipelines, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Percona-Lab/build-engineers, @egegunes, @inelpandzic, @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @olexandr-havryliak, @sandraromanchenko

PMM-7 Fix paths of image scanning report in release pipelines. (#2209)
  pmm/pmm2-release-candidate.groovy
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 Improve server autobuild pipeline.
  pmm/pmm2-server-autobuild-el9.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 Improve server autobuild pipeline.
  pmm/pmm2-server-autobuild-el9.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

ENG-1201 rel: add debian 12(Bookworm) workers
  IaC/rel.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

ENG-1201 pxc: add debian 12(Bookworm) workers
  IaC/pxc.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

ENG-1201 ps80: add debian 12(Bookworm) workers
  IaC/ps80.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

ENG-1201 pmm: add debian 12(Bookworm) workers
  IaC/pmm.cd/init.groovy.d/cloud.groovy
Owners: @talhabinrizwan, @atymchuk

ENG-1201 ps3: add debian 12(Bookworm) workers
  IaC/init.groovy.d/ami-defs.properties
  IaC/init.groovy.d/ami-defs.properties.sha256
  IaC/ps3.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

ENG-1201 ps57: add debian 12(Bookworm) workers
  IaC/ps57.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

ENG-1201 ps3: adjust jvmopts for debian 12 workers
  IaC/ps3.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

ENG-1201 psmdb: add debian 12(Bookworm) workers
  IaC/psmdb.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

ENG-1201 pxb: add debian 12(Bookworm) workers
  IaC/pxb.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

ENG-1201 ps3, rel: fix debian 12(Bookworm) ssl issue
  IaC/ps3.cd/init.groovy.d/cloud.groovy
  IaC/rel.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

Add percona-release job to rel.cd (#2200)
  percona-release/jenkins/percona-release.groovy
  percona-release/jenkins/percona-release.yml
  vars/uploadDEBfromAWS.groovy
Owners: @Percona-Lab/build-engineers

PMM-7 launch pmm-agent without sudo
  vars/setupPMMClient.groovy
Owners: @Percona-Lab/build-engineers

PMM-7 remove the trace
  vars/setupPMMClient.groovy
Owners: @Percona-Lab/build-engineers

PMM-7 avoid duplicate entries in PATH
  vars/setupPMMClient.groovy
Owners: @Percona-Lab/build-engineers

PMM-7 Improve server autobuild pipeline.
  pmm/pmm2-server-autobuild-el9.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-11658 launch pmm-agent without sudo
  vars/setupPMMClient.groovy
Owners: @Percona-Lab/build-engineers

PMM-11658 avoid duplicate entries in PATH
  vars/setupPMMClient.groovy
Owners: @Percona-Lab/build-engineers

PMM-11658 cleanup the code, use PMM_DIR for setup
  pmm/aws-staging-start.groovy
  vars/setupPMMClient.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191, @Percona-Lab/build-engineers

PMM-11658 source vars from the branch to test
  pmm/aws-staging-start.groovy
  vars/setupPMMClient.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191, @Percona-Lab/build-engineers

PMM-11658 fix wrong spelling
  vars/setupPMMClient.groovy
Owners: @Percona-Lab/build-engineers

PMM-11658 list only enabled repos
  pmm/aws-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 update versions
  vars/pmmVersion.groovy
Owners: @Percona-Lab/build-engineers

PMM-7 update versions (#2214)
  vars/pmmVersion.groovy
Owners: @Percona-Lab/build-engineers

PMM-11658 add sudo when installed via RPM
  vars/setupPMMClient.groovy
Owners: @Percona-Lab/build-engineers

PMM-11658 remove --paths-base from pmm-admin config
  vars/setupPMMClient.groovy
Owners: @Percona-Lab/build-engineers

ec2-instance-check job add checks for QA instance check
  misc/ec2-instance-checks.groovy
Owners: @Percona-Lab/build-engineers

PMM-11658 revert pulling the library from branch
  pmm/aws-staging-start.groovy
  vars/setupPMMClient.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191, @Percona-Lab/build-engineers

PMM-11658 move exporter configs elsewhere (#2213)
  pmm/aws-staging-start.groovy
  vars/setupPMMClient.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191, @Percona-Lab/build-engineers

PSMDB-938 added exclude for suites with tag does_not_support_config_fuzzer
  psmdb/psmdb-regression.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PMM-4817 move the script to pmm
  pmm/pmm2-release.groovy
  pmm/pmm2-submodules.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-4817 set the +e option to never fail
  pmm/pmm2-submodules.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Remove tag @pgss-pmm-integration from Jenkins w/ setup
  pmm/pmm2-ui-tests-matrix.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PSMDB-938 added exclude for suites with tag does_not_support_config_fuzzer (#2216)
  psmdb/psmdb-regression.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PSMDB-938 fix for tests like read_ticket_exhaustion_with_stepdown.js
  psmdb/psmdb-regression.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

ec2-instance-check job add checks for QA instance check (#2215)
  misc/ec2-instance-checks.groovy
Owners: @Percona-Lab/build-engineers

PSMDB-938 fix for tests like read_ticket_exhaustion_with_stepdown.js (#2219)
  psmdb/psmdb-regression.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Updated patch
  pmm/pmm2-ui-tests-matrix.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

.github/CODEOWNERS:

# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @tplavcic @nmarukovich @cap1984 
/pmm/ @talhabinrizwan @atymchuk @puneet0191
/IaC/pmm.cd/ @talhabinrizwan @atymchuk
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
/pdpxc/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
