Repository Percona-Lab/jenkins-pipelines, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Percona-Lab/build-engineers, @egegunes, @inelpandzic, @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @olexandr-havryliak, @sandraromanchenko

.github/CODEOWNERS:

# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @tplavcic @nmarukovich @cap1984 
/pmm/ @talhabinrizwan @atymchuk @puneet0191
/IaC/pmm.cd/ @talhabinrizwan @atymchuk
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
/pdpxc/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers

PS-8.0 Automate trigger for ps80 package testing job on the rel.cd jenkins from ps80 build job (#2139)
  ps/jenkins/percona-server-for-mysql-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Update pmm/pmm2-ami.groovy
  pmm/pmm2-ami.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM update pipelines to build el9 and el7 builds in parallel (#2140)
  pmm/pmm2-ami.groovy
  pmm/pmm2-client-autobuild.groovy
  pmm/pmm2-ovf.groovy
  pmm/pmm2-server-autobuild-el7.groovy
  pmm/pmm2-server-autobuild-el9.groovy
  pmm/pmm2-server-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Update pmm2-upgrade-tests.groovy
  pmm/pmm2-upgrade-tests.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Update pmm2-upgrade-tests.groovy (#2141)
  pmm/pmm2-upgrade-tests.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 Update Slack messages for AMI/OVF builds for PMM.
  pmm/pmm2-ami.groovy
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Test job
  ppg/citus.groovy
  ppg/citus.yml
Owners: @Percona-Lab/build-engineers

PMM-7 Update Slack messages for AMI/OVF builds for PMM. (#2142)
  pmm/pmm2-ami.groovy
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 add 2.37.1
  vars/pmmVersion.groovy
Owners: @Percona-Lab/build-engineers

PMM-7 add 2.37.1 (#2143)
  vars/pmmVersion.groovy
Owners: @Percona-Lab/build-engineers

move pxc package testing job from ps80.cd jenkins to pxc.cd jenkins server remove wip
  pxc/jenkins/pxc-package-testing-parallel.groovy
  pxc/jenkins/pxc-package-testing-parallel.yml
  pxc/jenkins/pxc-package-testing.groovy
  pxc/jenkins/pxc-package-testing.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-7 Fix ovf build.
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 Fix ovf build.
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 Fix ovf build.
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 Fix ovf build.
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 Fix ovf build.
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 Fix ovf build.
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM 7 fix ovf build URLs (#2147)
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

ENG-1197 Automate the jenkins job for PXC 5.7 Release
  pxc/jenkins/percona-xtradb-cluster-5.7.groovy
  pxc/jenkins/percona-xtradb-cluster-5.7.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Add a jenkins job to check for running ec2 instances
  misc/ec2-instance-checks.groovy
  misc/ec2-instance-checks.yml
Owners: @Percona-Lab/build-engineers

1. Added missing gcc-12 toolset missing packages (#2146)
  pxc/docker/install-deps
  pxc/local/build-binary-pxc-parallel-mtr
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Add Debian 12 to PXB 2.4
  pxb/jenkins/pxb-24.groovy
  pxb/jenkins/pxb-24.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-7 reduce time to instance
  vars/launchSpotInstance.groovy
Owners: @Percona-Lab/build-engineers

PMM-7 fix a typo
  vars/launchSpotInstance.groovy
Owners: @Percona-Lab/build-engineers

Add Debian 12 to PXB 8.0
  pxb/jenkins/pxb-80.groovy
  pxb/jenkins/pxb-80.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-7 increase sleep after docker way upgrade
  pmm/pmm2-upgrade-tests.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 reduce time to instance (#2149)
  vars/launchSpotInstance.groovy
Owners: @Percona-Lab/build-engineers

Switched from bookworm to bullseye for build
  pbm/pbm-functional-tests-full.groovy
  pbm/pbm-functional-tests.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Switched from bookworm to bullseye for build (#2151)
  pbm/pbm-functional-tests-full.groovy
  pbm/pbm-functional-tests.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

add CLEAN_NAMESPACE
  cloud/jenkins/pgo_operator_eks.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PMM-7-fix-client-install
  vars/setupPMMClient.groovy
Owners: @Percona-Lab/build-engineers

Update pmm2-ui-tests.groovy
  pmm/pmm2-ui-tests.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Update setupPMMClient.groovy
  vars/setupPMMClient.groovy
Owners: @Percona-Lab/build-engineers

K8SPG-354 fix eks pipeline (#2152)
  cloud/jenkins/pgo_operator_eks.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PMM-7 Fix createrepo issue.
  pmm/pmm2-server-autobuild-el7.groovy
  pmm/pmm2-server-autobuild-el9.groovy
  vars/sync2ProdPMM.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191, @Percona-Lab/build-engineers

PMM-7 Fix createrepo issue. (#2154)
  pmm/pmm2-server-autobuild-el7.groovy
  pmm/pmm2-server-autobuild-el9.groovy
  vars/sync2ProdPMM.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191, @Percona-Lab/build-engineers

Add Debian 12 to ProxySQL
  proxysql/proxysql.groovy
  pxb/jenkins/pxb-24.groovy
  pxb/jenkins/pxb-24.yml
  pxb/jenkins/pxb-80.groovy
  pxb/jenkins/pxb-80.yml
Owners: @Percona-Lab/build-engineers, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash

Add Debian 12 to PXB 2.4
  pxb/jenkins/pxb-24.groovy
  pxb/jenkins/pxb-24.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Add Debian 12 to ProxySQL
  proxysql/proxysql.groovy
  pxb/jenkins/pxb-24.groovy
  pxb/jenkins/pxb-24.yml
  pxb/jenkins/pxb-80.groovy
  pxb/jenkins/pxb-80.yml
Owners: @Percona-Lab/build-engineers, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash

Add Debian 12 to PXB 8.0
  pxb/jenkins/pxb-80.groovy
  pxb/jenkins/pxb-80.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers
