Repository Percona-Lab/jenkins-pipelines, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Percona-Lab/build-engineers, @egegunes, @inelpandzic, @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @olexandr-havryliak, @sandraromanchenko

Do not run for PS_upstream
  pt/jenkins/pt-package-testing.groovy
Owners: @eleo007, @panchal-yash, @Percona-Lab/build-engineers

EN-7 fix distro
  ppg/ppg-server-ha.groovy
  ppg/ppg-server.groovy
Owners: @Percona-Lab/build-engineers

EN-7 fix distro (#2131)
  ppg/ppg-server-ha.groovy
  ppg/ppg-server.groovy
Owners: @Percona-Lab/build-engineers

Set skip_psmdb60 to enabled by default
  pt/jenkins/pt-package-testing-all.groovy
  pt/jenkins/pt-package-testing-all.yml
  pt/jenkins/pt-package-testing.groovy
  pt/jenkins/pt-package-testing.yml
Owners: @eleo007, @panchal-yash, @Percona-Lab/build-engineers

Set skip_psmdb60 to enabled by default
  pt/jenkins/pt-package-testing-all.groovy
  pt/jenkins/pt-package-testing.groovy
Owners: @eleo007, @panchal-yash, @Percona-Lab/build-engineers

Add ubuntu 22.04
  pt/jenkins/pt-package-testing-all.groovy
  pt/jenkins/pt-package-testing.groovy
  pt/jenkins/pt-package-testing.yml
Owners: @eleo007, @panchal-yash, @Percona-Lab/build-engineers

Fix OL9 and add Ubuntu-Jammy for PT package-testing (#2132)
  pt/jenkins/pt-package-testing-all.groovy
  pt/jenkins/pt-package-testing-all.yml
  pt/jenkins/pt-package-testing.groovy
  pt/jenkins/pt-package-testing.yml
Owners: @eleo007, @panchal-yash, @Percona-Lab/build-engineers

PMM-12156 Update pmm/pmm2-ami.groovy
  pmm/pmm2-ami.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-ami.groovy
  pmm/pmm2-ami.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PXC-80 Keyring Cluster Tests
  pxc/jenkins/pxc-keyring-test-pkgs.groovy
  pxc/jenkins/pxc-keyring-test-pkgs.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

ENG-7 fix repo
  vars/sync2ProdPMMClientRepo.groovy
Owners: @Percona-Lab/build-engineers

ENG-7 fix repo (#2134)
  vars/sync2ProdPMMClientRepo.groovy
Owners: @Percona-Lab/build-engineers

PMM-7 fix sync methods
  pmm/pmm2-client-autobuild.groovy
  vars/pmmVersion.groovy
  vars/sync2ProdPMMClient.groovy
  vars/sync2ProdPMMClientRepo.groovy
  vars/uploadRPM.groovy
  vars/uploadTarball.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191, @Percona-Lab/build-engineers

PMM-7 fix sync methods (#2135)
  pmm/pmm2-client-autobuild.groovy
  vars/pmmVersion.groovy
  vars/sync2ProdPMMClient.groovy
  vars/sync2ProdPMMClientRepo.groovy
  vars/uploadRPM.groovy
  vars/uploadTarball.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191, @Percona-Lab/build-engineers

ENG-7 Update sync2ProdPMMClientRepo.groovy
  vars/sync2ProdPMMClientRepo.groovy
Owners: @Percona-Lab/build-engineers

ENG-7 Update sync2ProdPMMClientRepo.groovy (#2136)
  vars/sync2ProdPMMClientRepo.groovy
Owners: @Percona-Lab/build-engineers

Update sync2ProdPMMClientRepo.groovy
  vars/sync2ProdPMMClientRepo.groovy
Owners: @Percona-Lab/build-engineers

PMM-12156 Update pmm/pmm2-server-autobuild-el7.groovy and pmm/pmm2-server-autobuild-el9.groovy
  pmm/pmm2-server-autobuild-el7.groovy
  pmm/pmm2-server-autobuild-el9.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-server-autobuild-el9.groovy
  pmm/pmm2-server-autobuild-el9.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-server-autobuild.groovy pmm/pmm2-server-autobuild-el9.groovy pmm/pmm2-server-autobuild-el7.groovy
  pmm/pmm2-server-autobuild-el7.groovy
  pmm/pmm2-server-autobuild-el9.groovy
  pmm/pmm2-server-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

add ORCHESTRATOR_REVISION parameter
  pdps/orchestrator_docker.groovy
  pdps/pdps-multi-parallel.groovy
  pdps/pdps-multi.groovy
  pdps/pdps-parallel.groovy
  pdps/pdps-upgrade-parallel.groovy
  pdps/pdps-upgrade.groovy
  pdps/pdps.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

Update PT version for tests
  pdps/pdps-parallel.groovy
  pdps/pdps-upgrade-parallel.groovy
  pdps/pdps-upgrade.groovy
  pdps/pdps.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

PMM-12156 Update pmm/pmm2-client-autobuild.groovy
  pmm/pmm2-client-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PDPS: Add check for orchestrator revision (#2137)
  pdps/orchestrator_docker.groovy
  pdps/pdps-multi-parallel.groovy
  pdps/pdps-multi.groovy
  pdps/pdps-parallel.groovy
  pdps/pdps-upgrade-parallel.groovy
  pdps/pdps-upgrade.groovy
  pdps/pdps.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

Added zephyr reporting (#2126)
  pbm/pbm-functional-tests-full.groovy
  pbm/pbm-functional-tests.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PBM-952 added tests for external backup to matrix
  pbm/pbm-functional-tests-full.groovy
  pbm/pbm-functional-tests.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PBM-952 added tests for external backup to matrix (#2138)
  pbm/pbm-functional-tests-full.groovy
  pbm/pbm-functional-tests.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PS-8.0 Automate trigger for ps80 package testing job on the release jenkins server
  ps/jenkins/percona-server-for-mysql-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-12156 Update pipelines.
  pmm/pmm2-ami.groovy
  pmm/pmm2-client-autobuild.groovy
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-ovf.groovy
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-ovf.groovy
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

ps80 package-testing automation add propagate: false, wait: false, for the package testing job trigger
  ps/jenkins/percona-server-for-mysql-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-12156 Update pmm/pmm2-ovf.groovy
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-ovf.groovy
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-ovf.groovy
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-ovf.groovy
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-ovf.groovy
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PXC-4234: Update Jenkins Docker images for centos:8 and oraclelinux:9 (#2128)
  pxc/docker/install-deps
  pxc/local/build-binary-pxc-parallel-mtr
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-12156 Update pmm/pmm2-ami.groovy
  pmm/pmm2-ami.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pipelines.
  pmm/pmm2-ami.groovy
  pmm/pmm2-client-autobuild.groovy
  pmm/pmm2-ovf.groovy
  pmm/pmm2-server-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

.github/CODEOWNERS:

# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @tplavcic @nmarukovich @cap1984 
/pmm/ @talhabinrizwan @atymchuk @puneet0191
/IaC/pmm.cd/ @talhabinrizwan @atymchuk
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
/pdpxc/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
