Repository Percona-Lab/jenkins-pipelines, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Percona-Lab/build-engineers, @egegunes, @inelpandzic, @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @olexandr-havryliak, @sandraromanchenko

move pxc package testing job from ps80.cd jenkins to pxc.cd jenkins server (#2144)
  pxc/jenkins/pxc-package-testing-parallel.groovy
  pxc/jenkins/pxc-package-testing-parallel.yml
  pxc/jenkins/pxc-package-testing.groovy
  pxc/jenkins/pxc-package-testing.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-12136 Create EL-9 based feature build by default.
  pmm/pmm2-submodules.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12136 Create EL-9 based feature build by default.
  pmm/pmm2-submodules.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Update pxc-package-testing.groovy
  pxc/jenkins/pxc-package-testing.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Update ec2-instance-checks.yml
  misc/ec2-instance-checks.yml
Owners: @Percona-Lab/build-engineers

Add a jenkins job to check for running ec2 instances (#2148)
  misc/ec2-instance-checks.groovy
  misc/ec2-instance-checks.yml
Owners: @Percona-Lab/build-engineers

Update ec2-instance-checks.groovy
  misc/ec2-instance-checks.groovy
Owners: @Percona-Lab/build-engineers

ENG-7 improve ppg release
  pbm/.pbm-docker.groovy.swp
  ppg/ppg_release.groovy
  ppg/ppg_release.yml
  scripts/prepare_pg_release.sh
  vars/sync2ProdPPG.groovy
  vars/sync2web.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Update ec2-instance-checks.groovy (#2171)
  misc/ec2-instance-checks.groovy
Owners: @Percona-Lab/build-engineers

Update pxc-package-testing.groovy (#2170)
  pxc/jenkins/pxc-package-testing.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

add mysql-shell build job
  ps/jenkins/mysql-shell.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-7 update versions pmm2-ami-upgrade-tests-matrix.groovy
  pmm/pmm2-ami-upgrade-tests-matrix.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 update OVF versions
  vars/pmmVersion.groovy
Owners: @Percona-Lab/build-engineers

PMM-7 update versions pmm2-ami-upgrade-tests-matrix.groovy (#2173)
  pmm/pmm2-ami-upgrade-tests-matrix.groovy
  vars/pmmVersion.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191, @Percona-Lab/build-engineers

PXC-80 Keyring Cluster Tests (#2133)
  pxc/jenkins/pxc-keyring-test-pkgs.groovy
  pxc/jenkins/pxc-keyring-test-pkgs.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Add pxc.cd jenkins credentials-id for pxc keyring test job
  pxc/jenkins/pxc-keyring-test-pkgs.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Add pxc.cd jenkins credentials-id for pxc keyring test job (#2175)
  pxc/jenkins/pxc-keyring-test-pkgs.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Adding auto update and commit to VERSION file on Percona-QA/package-testing repo for ps80 package testing job
  ps/jenkins/percona-server-for-mysql-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Adding auto update and commit to VERSION file on Percona-QA/package-testing repo for ps80 package testing job (#2174)
  ps/jenkins/percona-server-for-mysql-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

modify the ssh key from ssh_key-us-west-2 to ssh_key-us-west-1 for pxc.cd jenkins
  pxc/jenkins/pxc-keyring-test-pkgs.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

add mysql-shell build job
  ps/jenkins/mysql-shell.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

modify the ssh key from ssh_key-us-west-2 to ssh_key-us-west-1 for pxc.cd jenkins (#2176)
  pxc/jenkins/pxc-keyring-test-pkgs.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Change the version of urllib used in aks cloud pipeline
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aks_version.groovy
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aks_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

ENG-1203 - Fix python urllib3 library version for azure cli
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aks_version.groovy
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aks_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

ENG-1203 - Fix python urllib3 library version for azure cli (#2177)
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aks_version.groovy
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aks_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PSMDB regression tests - possibility to define custom Dockerfile
  psmdb/psmdb-regression.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PSMDB regression tests - possibility to define custom Dockerfile (#2178)
  psmdb/psmdb-regression.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Update pmm2-ami-staging-start.groovy
  pmm/pmm2-ami-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Update pmm2-ami-staging-start.groovy (#2179)
  pmm/pmm2-ami-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Add mysql shell to rel.cd (#2180)
  ps/jenkins/mysql-shell.groovy
  ps/jenkins/mysql-shell.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PSMDB scons params to job parameters
  psmdb/psmdb-regression.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PMM-7 Fixing upgrade workaround and PDPGSQL versions
  pmm/aws-staging-start.groovy
  pmm/pmm2-ami-staging-start.groovy
  pmm/pmm2-ovf-staging-start.groovy
  pmm/pmm2-ui-tests-nightly.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 Fixing upgrade workaround and PDPGSQL versions (#2182)
  pmm/aws-staging-start.groovy
  pmm/pmm2-ami-staging-start.groovy
  pmm/pmm2-ovf-staging-start.groovy
  pmm/pmm2-ui-tests-nightly.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PSMDB scons params to job parameters (#2181)
  psmdb/psmdb-regression.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

ENG-7 Add deb12
  ppg/postgresql_server.groovy
Owners: @Percona-Lab/build-engineers

ENG-7 Add deb12 (#2183)
  ppg/postgresql_server.groovy
Owners: @Percona-Lab/build-engineers

PMM-7 Add EL9 releated changes to the release pipeline.
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

ENG-7 add deb12 for postgresql jobs
  ppg/pgpool2-build.groovy
  ppg/postgresql_server.groovy
  ppg/ppg-server-ha.groovy
  ppg/ppg-server.groovy
Owners: @Percona-Lab/build-engineers

ENG-7 add deb12 for postgresql jobs (#2185)
  ppg/pgpool2-build.groovy
  ppg/postgresql_server.groovy
  ppg/ppg-server-ha.groovy
  ppg/ppg-server.groovy
Owners: @Percona-Lab/build-engineers

PMM-7 Add EL9 releated changes to the release pipeline. (#2184)
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

.github/CODEOWNERS:

# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @tplavcic @nmarukovich @cap1984 
/pmm/ @talhabinrizwan @atymchuk @puneet0191
/IaC/pmm.cd/ @talhabinrizwan @atymchuk
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
/pdpxc/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
