Repository Percona-Lab/jenkins-pipelines, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Percona-Lab/build-engineers, @egegunes, @inelpandzic, @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @olexandr-havryliak, @sandraromanchenko

Reverting changes to pgss and only adding for pgsm
  pmm/pmm2-ui-tests-matrix.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Update
  pmm/pmm2-ui-tests-matrix.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Remove tag @pgsm-pmm-integration from Jenkins w/ setup (#2218)
  pmm/pmm2-ui-tests-matrix.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Make pxb package-testing job to groovy file. Add min-bookworm-x64 Debian 12 support Make ol-8 working downgrade ansible version for zyper error
  pxb/jenkins/pxb-package-testing-all.groovy
  pxb/jenkins/pxb-package-testing.groovy
  pxb/jenkins/pxb-package-testing.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Make pxb package-testing job to groovy file. (#2212)
  pxb/jenkins/pxb-package-testing-all.groovy
  pxb/jenkins/pxb-package-testing.groovy
  pxb/jenkins/pxb-package-testing.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Versiom update
  proxysql/qa-proxysql2-param.yml
  proxysql/qa-proxysql2-pipeline.groovy
Owners: @Percona-Lab/build-engineers

Proxysql Version update (#2220)
  proxysql/qa-proxysql2-param.yml
  proxysql/qa-proxysql2-pipeline.groovy
Owners: @Percona-Lab/build-engineers

PMM-11931 Update API descriptors before RC cut.
  pmm/pmm2-release-candidate.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12351 build devcontainer using github actions
  pmm/pmm2-server-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12351 add an empty line
  pmm/pmm2-server-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12351 remove the dedicated pipeline
  pmm/build-dev-container.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Add a post build execution step for the aborted job in pxc-package-testing
  pxc/jenkins/pxc-package-testing.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Add a post build execution step for the aborted job in pxc-package-testing (#2223)
  pxc/jenkins/pxc-package-testing.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-11658 prevent Jenkins from killing the process
  vars/setupPMMClient.groovy
Owners: @Percona-Lab/build-engineers

PMM-11658 fix a typo
  vars/setupPMMClient.groovy
Owners: @Percona-Lab/build-engineers

PMM-11658 pull from the branch to test things
  pmm/aws-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-4817 prefer curl over svn
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-11658 restore default lib settings after test
  pmm/aws-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-11658 prevent Jenkins from killing the process (#2224)
  vars/setupPMMClient.groovy
Owners: @Percona-Lab/build-engineers

ENG-7 pxc.cd: change instance type due to high interruption rate
  IaC/pxc.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

pxb package testing remove -test from the runNodeBuild groovy function
  pxb/jenkins/pxb-package-testing-all.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

pxb package testing remove -test from the runNodeBuild groovy function (#2226)
  pxb/jenkins/pxb-package-testing-all.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-12351 build devcontainer using github actions (#2222)
  pmm/build-dev-container.groovy
  pmm/pmm2-server-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-11931 Rewind submodules if there is a change in PMM-2.0 branch.
  pmm/pmm2-release-candidate.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-11931 Update check for 'Update API descriptors' stage.
  pmm/pmm2-release-candidate.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Add PXB80 VERSION file modifications and pxb-80 package testing job trigger on release jenkins for pxb80 build job
  pxb/jenkins/pxb-80.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Alert Tests will need client setup
  pmm/pmm2-ui-tests-matrix.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Alert Tests will need client setup (#2228)
  pmm/pmm2-ui-tests-matrix.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

add debian bookworm for ps80 package testing
  ps/jenkins/package-testing-ps-8.0.groovy
  ps/jenkins/package-testing-ps-8.0.yml
  ps/jenkins/package-testing-ps-build-8.0.groovy
  ps/jenkins/package-testing-ps-build-8.0.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-7 fix the pipeline
  pmm/pmm2-submodules-rewind.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

add debian bookworm for ps80 package testing (#2229)
  ps/jenkins/package-testing-ps-8.0.groovy
  ps/jenkins/package-testing-ps-8.0.yml
  ps/jenkins/package-testing-ps-build-8.0.groovy
  ps/jenkins/package-testing-ps-build-8.0.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PSMDB-1308 Create binary packages of PSMDB 5.0 for the ARM64 architecture
  psmdb/jenkins/percona-server-for-mongodb-5.0-aarch64.groovy
  psmdb/jenkins/percona-server-for-mongodb-5.0-aarch64.yml
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

DISTMYSQL-337 Create and build packages for PDPXC 8.0.33
  pxc/jenkins/percona-xtradb-cluster-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

DISTMYSQL-337 Create and build packages for PDPXC 8.0.33
  pxc/jenkins/percona-xtradb-cluster-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-11658 revert a few commands
  pmm/pmm2-submodules-rewind.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 remove redundant spaces
  pmm/pmm2-submodules-rewind.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

DISTMYSQL-337 Create and build packages for PDPXC 8.0.33
  pxc/jenkins/percona-xtradb-cluster-8.0.groovy
  vars/uploadTarballToDownloadsTesting.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

ENG-7 psmdb.cd: update instance types for workers
  IaC/psmdb.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

PMM-7 Fix Oracle Linux 8 agents.
  IaC/pmm.cd/init.groovy.d/cloud.groovy
Owners: @talhabinrizwan, @atymchuk

ENG-7 psmdb.cd: update instance types for workers
  IaC/psmdb.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

.github/CODEOWNERS:

# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @tplavcic @nmarukovich @cap1984 
/pmm/ @talhabinrizwan @atymchuk @puneet0191
/IaC/pmm.cd/ @talhabinrizwan @atymchuk
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
/pdpxc/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
