Repository Percona-Lab/jenkins-pipelines, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Percona-Lab/build-engineers, @egegunes, @inelpandzic, @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @olexandr-havryliak, @sandraromanchenko

.github/CODEOWNERS:

# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @tplavcic @nmarukovich @cap1984 
/pmm/ @talhabinrizwan @atymchuk @puneet0191
/IaC/pmm.cd/ @talhabinrizwan @atymchuk
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
/pdpxc/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers

Add bookworm to jobs
  ps/jenkins/percona-server-for-mysql-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Add bookworm to jobs
  ps/jenkins/percona-server-for-mysql-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Add bookworm to jobs
  ps/jenkins/percona-server-for-mysql-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Add bookworm (#2201)
  ps/jenkins/percona-server-for-mysql-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PBM-1138 Create arm based RPMs for PBM
  pbm/jenkins/percona-mongodb-backup-aarch64.groovy
  pbm/jenkins/percona-mongodb-backup-aarch64.yml
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Add bookworm to pxc buildscript
  pxc/jenkins/percona-xtradb-cluster-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Change yq version to v3 for running old tests
  cloud/jenkins/psmdb_operator_gke_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PMM-4817 set git release tags
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-4817 diplay the current branch
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-4817 clean up the code
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 Update Jenkins master instance types.
  IaC/pmm.cd/JenkinsStack.yml
Owners: @talhabinrizwan, @atymchuk

PMM-7 Update Jenkins master instance types. (#2203)
  IaC/pmm.cd/JenkinsStack.yml
Owners: @talhabinrizwan, @atymchuk

PMM-4817 remove the directory after processing
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-4817 make the err message more meaningful
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

ENG-1201 ps3: add debian 12(Bookworm) workers
  IaC/init.groovy.d/ami-defs.properties
  IaC/init.groovy.d/ami-defs.properties.sha256
  IaC/ps3.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

ENG-1201 psmdb: add debian 12(Bookworm) workers
  IaC/psmdb.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

ENG-1201 ps57: add debian 12(Bookworm) workers
  IaC/ps57.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

ENG-1201 pxb: add debian 12(Bookworm) workers
  IaC/pxb.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

ENG-1201 pxc: add debian 12(Bookworm) workers
  IaC/pxc.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

ENG-1201 rel: add debian 12(Bookworm) workers
  IaC/rel.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

ENG-1201 ps80: add debian 12(Bookworm) workers
  IaC/ps80.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

ENG-1201 ps3, rel: fix debian 12(Bookworm) ssl issue
  IaC/ps3.cd/init.groovy.d/cloud.groovy
  IaC/rel.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

update in download script
  pdps/router_docker.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

PMM-4817 follow up on review comments
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-4817 do not print the useless error code
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-4817 can't sign the tag w/o GPG, remove --sign
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-4817 set git release tags (#2202)
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Add bookworm to pxc buildscript (#2204)
  pxc/jenkins/percona-xtradb-cluster-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-7 Fix release pipeline to include multiple files in stash.
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 Fix release pipeline to include multiple files in stash. (#2205)
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

ENG-1201 pmm: add debian 12(Bookworm) workers
  IaC/pmm.cd/init.groovy.d/cloud.groovy
Owners: @talhabinrizwan, @atymchuk

PMM-7 Fix release pipeline to include multiple files in archiveArtifacts.
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 Fix release pipeline to include multiple files in archiveArtifacts. (#2206)
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

ENG-1201 ps3: adjust jvmopts for debian 12 workers
  IaC/ps3.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

PMM-7 fix docker login permissions
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 use double quotes
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 fix docker login permissions (#2207)
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 Fix release pipeline by saving pmm-server docker.
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 Fix release pipeline by saving pmm-server docker. (#2208)
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-7 Fix paths of image scanning report in release pipelines.
  pmm/pmm2-release-candidate.groovy
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191
