Repository Percona-Lab/jenkins-pipelines, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Percona-Lab/build-engineers, @egegunes, @inelpandzic, @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @olexandr-havryliak, @sandraromanchenko

DISTMYSQL-337 create and build packages for pdpxc 8.0.33 (#2232)
  pxc/jenkins/percona-xtradb-cluster-8.0.groovy
  vars/uploadTarballToDownloadsTesting.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-7 Fix Oracle Linux 8 agents. (#2233)
  IaC/pmm.cd/init.groovy.d/cloud.groovy
Owners: @talhabinrizwan, @atymchuk

PMM-7 fix the pipeline (#2230)
  pmm/pmm2-submodules-rewind.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Add PXB80 VERSION file modifications and pxb-80 package testing job trigger on release jenkins for pxb80 build job (#2227)
  pxb/jenkins/pxb-80.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-11931 Update API descriptors before RC cut. (#2221)
  pmm/pmm2-release-candidate.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Added trivyignore file for known issues
  pbm/pbm-docker.groovy
  psmdb/psmdb-docker-arm.groovy
  psmdb/psmdb-docker.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Added trivyignore file for known issues (#2234)
  pbm/pbm-docker.groovy
  psmdb/psmdb-docker-arm.groovy
  psmdb/psmdb-docker.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

ENG-7 Fix Oracle Linux 8 agents.
  IaC/pg.cd/init.groovy.d/cloud.groovy
  IaC/ps3.cd/init.groovy.d/cloud.groovy
  IaC/ps57.cd/init.groovy.d/cloud.groovy
  IaC/ps80.cd/init.groovy.d/cloud.groovy
  IaC/psmdb.cd/init.groovy.d/cloud.groovy
  IaC/pxb.cd/init.groovy.d/cloud.groovy
  IaC/pxc.cd/init.groovy.d/cloud.groovy
  IaC/rel.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

ENG-7 Fix Oracle Linux 8 agents. (#2235)
  IaC/pg.cd/init.groovy.d/cloud.groovy
  IaC/ps3.cd/init.groovy.d/cloud.groovy
  IaC/ps57.cd/init.groovy.d/cloud.groovy
  IaC/ps80.cd/init.groovy.d/cloud.groovy
  IaC/psmdb.cd/init.groovy.d/cloud.groovy
  IaC/pxb.cd/init.groovy.d/cloud.groovy
  IaC/pxc.cd/init.groovy.d/cloud.groovy
  IaC/rel.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

PMM-7 Hint on how to launch PMM with RC
  pmm/aws-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12367 Fix rsync related errors when running EL7 and EL9 pipelines in parallel.
  vars/sync2ProdPMM.groovy
Owners: @Percona-Lab/build-engineers

PMM-12367 Fix rsync related errors when running EL7 and EL9 pipelines in parallel. (#2237)
  vars/sync2ProdPMM.groovy
Owners: @Percona-Lab/build-engineers

Fix synchronize
  pxc/jenkins/proxysql-package-testing.groovy
  pxc/jenkins/proxysql-package-testing.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Setting oracle 8 prep
  pxc/jenkins/proxysql-package-testing.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Reverting Original repo
  pxc/jenkins/proxysql-package-testing.groovy
  pxc/jenkins/proxysql-package-testing.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Update Ansible version for Oracle Linux 8 (#2238)
  pxc/jenkins/proxysql-package-testing.groovy
  pxc/jenkins/proxysql-package-testing.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PDMYSQL: Implement revision checks for PS and PXC
  pdps/pdps-parallel.groovy
  pdps/pdps-upgrade-parallel.groovy
  pdps/pdps-upgrade.groovy
  pdps/pdps.groovy
  pdpxc/pdpxc-parallel.groovy
  pdpxc/pdpxc-upgrade-parallel.groovy
  pdpxc/pdpxc-upgrade.groovy
  pdpxc/pdpxc.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

PMM-7 Hint on how to launch PMM with RC (#2236)
  pmm/aws-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PDMYSQL: Implement revision checks for PS and PXC (#2239)
  pdps/pdps-parallel.groovy
  pdps/pdps-upgrade-parallel.groovy
  pdps/pdps-upgrade.groovy
  pdps/pdps.groovy
  pdpxc/pdpxc-parallel.groovy
  pdpxc/pdpxc-upgrade-parallel.groovy
  pdpxc/pdpxc-upgrade.groovy
  pdpxc/pdpxc.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

PMM-7 RC client for RS for backups
  pmm/aws-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Update aws-staging-start.groovy
  pmm/aws-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Update aws-staging-start.groovy
  pmm/aws-staging-start.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Update PMM Versions
  pmm/pmm2-ami-upgrade-tests-matrix.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Update PMM Versions (#2241)
  pmm/pmm2-ami-upgrade-tests-matrix.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

use pip based ansible installation for jammy issues
  pxb/jenkins/pxb-package-testing.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-4817 make the script more reliable
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-4817 move create-tags script to pmm (#2217)
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

fix procedure
  vars/uploadTarballToDownloadsTesting.groovy
Owners: @Percona-Lab/build-engineers

fix procedure (#2243)
  vars/uploadTarballToDownloadsTesting.groovy
Owners: @Percona-Lab/build-engineers

deb12 support
  ppg/percona-postgis.groovy
  ppg/pgpool2-build.groovy
Owners: @Percona-Lab/build-engineers

deb12 support (#2244)
  ppg/percona-postgis.groovy
  ppg/pgpool2-build.groovy
Owners: @Percona-Lab/build-engineers

Fix clang ver
  ppg/pgpool2-build.groovy
Owners: @Percona-Lab/build-engineers

Fix clang ver (#2245)
  ppg/pgpool2-build.groovy
Owners: @Percona-Lab/build-engineers

Ubuntu-bionic (18.04) has reached EOL stage, so removing it from the ppg testing platform matrix.
  vars/ppgOperatingSystems.groovy
Owners: @Percona-Lab/build-engineers

Ubuntu-bionic (18.04) has reached EOL stage, so removing it from the ppg testing platform matrix. (#2246)
  vars/ppgOperatingSystems.groovy
Owners: @Percona-Lab/build-engineers

Adding debian-12 to supported platforms for testing.
  vars/ppgOperatingSystems.groovy
Owners: @Percona-Lab/build-engineers

Adding debian-12 to supported platforms for testing.
  vars/ppgOperatingSystems.groovy
Owners: @Percona-Lab/build-engineers

Update bookworm
  ps/jenkins/package-testing-ps-5.7.groovy
  ps/jenkins/package-testing-ps-5.7.yml
  ps/jenkins/package-testing-ps-build-5.7.groovy
  ps/jenkins/package-testing-ps-build-5.7.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Adding debian-12 to supported platforms for testing. (#2248)
  vars/ppgOperatingSystems.groovy
Owners: @Percona-Lab/build-engineers

PS-8875-Release-tasks-ticket-for-PS-5.7.43-47
  ps/jenkins/percona-server-for-mysql-5.7.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

.github/CODEOWNERS:

# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @tplavcic @nmarukovich @cap1984 
/pmm/ @talhabinrizwan @atymchuk @puneet0191
/IaC/pmm.cd/ @talhabinrizwan @atymchuk
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
/pdpxc/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
