Repository Percona-Lab/jenkins-pipelines, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Percona-Lab/build-engineers, @egegunes, @inelpandzic, @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @olexandr-havryliak, @sandraromanchenko

.github/CODEOWNERS:

# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @tplavcic @nmarukovich @cap1984 
/pmm/ @talhabinrizwan @atymchuk @puneet0191
/IaC/pmm.cd/ @talhabinrizwan @atymchuk
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
/pdpxc/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers

PMM-7 Fix OVF builds on DigitalOcean by using new auth token. (#2297)
  pmm/pmm2-ovf-image-test.groovy
  pmm/pmm2-ovf-staging-start.groovy
  pmm/pmm2-ovf-staging-stop.groovy
  pmm/pmm2-ovf.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Upload packages and tarballs from S3 in a separate step
  ps/jenkins/percona-server-for-mysql-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

minor fixes
  cloud/jenkins/pgo_operator_eks_latest.groovy
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/psmdb_operator_aws_openshift_latest.groovy
  cloud/jenkins/pxc_operator_aws_openshift_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

updating the pipeline for pgo v2
  cloud/jenkins/pgo_operator_aws_openshift_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Renaming all parameters XXX_OPERATOR_IMAGE to OPERATOR_IMAGE for simplicity
  cloud/jenkins/pgo-operator-gke-latest.yml
  cloud/jenkins/pgo_operator_aws_openshift_latest.groovy
  cloud/jenkins/pgo_operator_eks_latest.groovy
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/psmdb-operator-aks-latest.yml
  cloud/jenkins/psmdb-operator-aws-openshift-latest.yml
  cloud/jenkins/psmdb-operator-gke-latest.yml
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aws_openshift_latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_gke_latest.groovy
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aws_openshift_latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Upload packages and tarballs from S3 in a separate step (#2298)
  ps/jenkins/percona-server-for-mysql-8.0.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

remove some defaults from parameters
  cloud/jenkins/pgo_operator_aws_openshift_latest.groovy
  cloud/jenkins/pgo_operator_eks_latest.groovy
  cloud/jenkins/pgo_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

ENG-733 ps80.cd: update to version 2.414.1
  IaC/ps80.cd/JenkinsStack.yml
Owners: @Percona-Lab/build-engineers

PBM. Build PBM ARM docker image
  pbm/.pbm-docker.groovy.swp
  pbm/pbm-docker-arm.groovy
  pbm/pbm-docker-arm.yml
  pbm/pbm-docker.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PBM. Build PBM ARM docker image (#2299)
  pbm/.pbm-docker.groovy.swp
  pbm/pbm-docker-arm.groovy
  pbm/pbm-docker-arm.yml
  pbm/pbm-docker.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PMM-12511 Publish el7 image under percona.
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12511 Publish el7 image under percona. (#2300)
  pmm/pmm2-release.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Updates to PDPGSQL and PGSQL versions (#2296)
  pmm/aws-staging-start.groovy
  pmm/pmm2-ui-tests-matrix.groovy
  pmm/pmm2-ui-tests-nightly.groovy
  pmm/pmm2-ui-tests.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Fixed merge issue
  pmm/pmm2-ui-tests-nightly.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Fixed merge issue (#2301)
  pmm/pmm2-ui-tests-nightly.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

adding the --quiet flag to accept default answers for all prompts for deleting gke cluster
  cloud/jenkins/psmdb_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

adding the --quiet flag to all jobs
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
  cloud/jenkins/pgo_v1_operator_gke_version.groovy
  cloud/jenkins/ps_operator_gke_latest.groovy
  cloud/jenkins/ps_operator_gke_version.groovy
  cloud/jenkins/psmdb_operator_gke_version.groovy
  cloud/jenkins/pxc_operator_gke_latest.groovy
  cloud/jenkins/pxc_operator_gke_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

updates
  pdps/router_docker.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

syntax error
  pdps/router_docker.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

removing unnecessary debug print
  cloud/jenkins/psmdb_operator_eks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Version bump
  pxb/v2/jenkins/percona-xtrabackup-8.0-test-cloud-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.0-test-cloud-pipeline.yml
  pxb/v2/jenkins/percona-xtrabackup-8.0-test-param.yml
  pxb/v2/jenkins/percona-xtrabackup-8.0-test-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.0-test-pipeline.yml
  pxb/v2/jenkins/percona-xtrabackup-8.0.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-cloud-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-cloud-pipeline.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-param.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Added 8.1 jobs and KMIP / VAULT / XBCLOUD (#2295)
  pxb/v2/docker/run-test
  pxb/v2/jenkins/percona-xtrabackup-8.0-test-cloud-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.0-test-cloud-pipeline.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-compile-param.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-compile-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-compile-pipeline.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-cloud-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-cloud-pipeline.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-param.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-trunk.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1.yml
  pxb/v2/local/build-binary
  pxb/v2/local/checkout
  pxb/v2/local/test-binary
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Post-fix: Enable keyring and xbcloud tests by default
  pxb/v2/jenkins/percona-xtrabackup-8.0-test-param.yml
  pxb/v2/jenkins/percona-xtrabackup-8.0-test-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.0-test-pipeline.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-param.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Post-fix: Enable keyring and xbcloud tests by default (#2302)
  pxb/v2/jenkins/percona-xtrabackup-8.0-test-param.yml
  pxb/v2/jenkins/percona-xtrabackup-8.0-test-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.0-test-pipeline.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-param.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-7 Fix pmm client tarball path.
  pmm/pmm2-client-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191
