Repository Percona-Lab/jenkins-pipelines, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Percona-Lab/build-engineers, @egegunes, @inelpandzic, @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @olexandr-havryliak, @sandraromanchenko

.github/CODEOWNERS:

# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @tplavcic @nmarukovich @cap1984 
/pmm/ @talhabinrizwan @atymchuk @puneet0191
/IaC/pmm.cd/ @talhabinrizwan @atymchuk
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
/pdpxc/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers

Add aarm support for percona-release (#2278)
  percona-release/jenkins/percona-release.groovy
  vars/uploadRPMfromAWS.groovy
Owners: @Percona-Lab/build-engineers

PSMDB-1318 mongosh: add debian 12 build
  psmdb/jenkins/percona-mongodb-mongosh.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

CLOUD-803 - Add IGNORE_PREVIOUS_RUN and S3 hash for PG jobs
  cloud/jenkins/pgo_operator_eks.groovy
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
  cloud/jenkins/pgo_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

CLOUD-785 delete orphaned eks resources (#2265)
  cloud/aws-functions/orphaned_resources.py
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Remove files from S3 if we are ignoring previous runs
  cloud/jenkins/psmdb_operator_gke_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Add removal of passed tests if IGNORE_PREVIOUS_RUN selected
  cloud/jenkins/pgo_operator_eks.groovy
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
  cloud/jenkins/pgo_operator_minikube.groovy
  cloud/jenkins/ps_operator_eks_version.groovy
  cloud/jenkins/ps_operator_gke_version.groovy
  cloud/jenkins/ps_operator_minikube.groovy
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aks_version.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-4.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_eks_version.groovy
  cloud/jenkins/psmdb_operator_gke_latest.groovy
  cloud/jenkins/psmdb_operator_minikube.groovy
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aks_version.groovy
  cloud/jenkins/pxc_operator_aws_openshift-4.groovy
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_eks_version.groovy
  cloud/jenkins/pxc_operator_gke_latest.groovy
  cloud/jenkins/pxc_operator_gke_version.groovy
  cloud/jenkins/pxc_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

CLOUD-803 - Add IGNORE_PREVIOUS_RUN parameter and md5 sum for S3 files (#2281)
  cloud/jenkins/pgo_operator_eks.groovy
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
  cloud/jenkins/pgo_operator_minikube.groovy
  cloud/jenkins/ps_operator_eks_version.groovy
  cloud/jenkins/ps_operator_gke_version.groovy
  cloud/jenkins/ps_operator_minikube.groovy
  cloud/jenkins/psmdb-operator-lke-version.yml
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aks_version.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-4.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_eks_version.groovy
  cloud/jenkins/psmdb_operator_gke_latest.groovy
  cloud/jenkins/psmdb_operator_gke_version.groovy
  cloud/jenkins/psmdb_operator_lke_version.groovy
  cloud/jenkins/psmdb_operator_minikube.groovy
  cloud/jenkins/pxc-operator-lke-version.yml
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_aks_version.groovy
  cloud/jenkins/pxc_operator_aws_openshift-4.groovy
  cloud/jenkins/pxc_operator_aws_openshift-latest.groovy
  cloud/jenkins/pxc_operator_eks_latest.groovy
  cloud/jenkins/pxc_operator_eks_version.groovy
  cloud/jenkins/pxc_operator_gke_latest.groovy
  cloud/jenkins/pxc_operator_gke_version.groovy
  cloud/jenkins/pxc_operator_lke_version.groovy
  cloud/jenkins/pxc_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

rearranging the steps in a more logical way; adding echo lines to visually distinguish in the log
  cloud/jenkins/psmdb_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

cloud-secret.yml is not neede anywhere - removing it's creation
  cloud/jenkins/psmdb_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

a slight cosmetic change
  cloud/jenkins/psmdb_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

cosmetic change
  cloud/jenkins/psmdb_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

rearranging the steps in a more logical way; adding echo lines to visually distinguish in the log
  cloud/jenkins/psmdb_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

cloud-secret.yml is not neede anywhere - removing it's creation
  cloud/jenkins/psmdb_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

ENG-7 pxb.cd: update workers and prices
  IaC/pxb.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

ENG-7 pxb.cd: update workers and prices
  IaC/pxb.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

adding latest kube version + major refactoring similar to aks and gke
  cloud/jenkins/psmdb_operator_eks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

minor fix
  cloud/jenkins/psmdb_operator_aks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Fix psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aks_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Fix psmdb_operator_aks_latest.groovy (#2283)
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aks_version.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

merging latest Tomislav's changes from main
  cloud/jenkins/psmdb_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

RHEL 9 python2 issue
  pxb/v2/local/test-binary
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

merging latest Tomislav's changes from main
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

adding latest kube version + major refactoring similar to aks and gke
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Add revision
  pdps/router_docker.groovy
Owners: @eleo007, @kaushikpuneet07, @Percona-Lab/build-engineers

PSMDB-1311 PSMDB gated builds with FIPS enabled
  psmdb/jenkins/percona-server-for-mongodb-6.0.groovy
  vars/sync2PrivateProdAutoBuild.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Added python3 version of subunit2junitxml
  pxb/v2/local/test-binary
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PSMDB-1311 PSMDB gated builds with FIPS enabled (#2284)
  psmdb/jenkins/percona-server-for-mongodb-6.0.groovy
  vars/sync2PrivateProdAutoBuild.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PARAMS_HASH must use USED_PLATFORM_VER instead of PLATFORM_VER
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PARAMS_HASH must use USED_PLATFORM_VER instead of PLATFORM_VER
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

a tiny little change of the tar command
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

Forgot one usage of PARAMS_HASH
  cloud/jenkins/psmdb_operator_aks_latest.groovy
  cloud/jenkins/psmdb_operator_aws_openshift-latest.groovy
  cloud/jenkins/psmdb_operator_eks_latest.groovy
  cloud/jenkins/psmdb_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

ENG-7 improve ppg release (#2172)
  pbm/.pbm-docker.groovy.swp
  ppg/ppg_release.groovy
  ppg/ppg_release.yml
  scripts/prepare_pg_release.sh
  vars/sync2ProdPPG.groovy
  vars/sync2web.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Adding pg-16 to choices of supported pg versions.
  ppg/component.groovy
  vars/ppgScenarios.groovy
  vars/ppgUpgradeScenarios.groovy
Owners: @Percona-Lab/build-engineers

Adding ps-operator-gke-latest and ps-operator-eks-latest
  cloud/jenkins/ps_operator_eks_latest.groovy
  cloud/jenkins/ps_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

forgot withCredentials when running the tests
  cloud/jenkins/psmdb_operator_eks_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

minor fixes
  cloud/jenkins/psmdb_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

ENG-1211 Automate the jenkins job for sysbench Release
  sysbench/sysbench.groovy
  sysbench/sysbench.yml
Owners: @Percona-Lab/build-engineers

PBM-1177 remove PSMDB 4.2 from tests
  pbm/pbm-e2e-tests.groovy
  pbm/pbm-functional-tests-full.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

initial version
  cloud/jenkins/pgo_operator_eks-latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

adding latest kube version and refactoring
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/pxc_operator_aks_latest.groovy
  cloud/jenkins/pxc_operator_gke_latest.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984
