Repository Percona-Lab/jenkins-pipelines, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Percona-Lab/build-engineers, @egegunes, @inelpandzic, @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @olexandr-havryliak, @sandraromanchenko

.github/CODEOWNERS:

# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @tplavcic @nmarukovich @cap1984 
/pmm/ @talhabinrizwan @atymchuk @puneet0191
/IaC/pmm.cd/ @talhabinrizwan @atymchuk
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
/pdpxc/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers

PMM-12156 Update pmm/pmm2-server-autobuild.groovy
  pmm/pmm2-server-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-server-autobuild.groovy
  pmm/pmm2-server-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-server-autobuild.groovy
  pmm/pmm2-server-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PXC-4213: Make possible to disable tests executed in ci_fs
  pxc/local/test-binary-pxc-parallel-mtr
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

add package
  cloud/jenkins/pgo_operator_eks.groovy
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
  cloud/jenkins/pgo_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PMM-12156 - Update pmm2-server-autobuild.groovy to call server autobuilds for both EL7 & EL9 in parallel - Add pmm2-server-autobuild-el7.groovy - Add pmm2-server-autobuild-el9.groovy
  pmm/pmm2-server-autobuild-el7.groovy
  pmm/pmm2-server-autobuild-el9.groovy
  pmm/pmm2-server-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-server-autobuild-el7.groovy
  pmm/pmm2-server-autobuild-el7.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 - Update pmm/pmm2-server-autobuild.groovy - Update pmm/pmm2-server-autobuild-el7.groovy - Update pmm/pmm2-server-autobuild-el9.groovy
  pmm/pmm2-server-autobuild-el7.groovy
  pmm/pmm2-server-autobuild-el9.groovy
  pmm/pmm2-server-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-server-autobuild-el7.groovy
  pmm/pmm2-server-autobuild-el7.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-server-autobuild.groovy
  pmm/pmm2-server-autobuild.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

ENG-7 fix sync task
  vars/sync2ProdPMMClientRepo.groovy
Owners: @Percona-Lab/build-engineers

Eng 1196 new repo (#2123)
  vars/sync2ProdPMMClientRepo.groovy
Owners: @Percona-Lab/build-engineers

ENG-7 fix sync
  vars/sync2ProdPMMClientRepo.groovy
Owners: @Percona-Lab/build-engineers

Eng 1196 new repo (#2124)
  vars/sync2ProdPMMClientRepo.groovy
Owners: @Percona-Lab/build-engineers

ENG-7 fix path
  vars/sync2ProdPMMClient.groovy
Owners: @Percona-Lab/build-engineers

PMM-12156 Update pmm/pmm2-server-autobuild-el7.groovy
  pmm/pmm2-server-autobuild-el7.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Eng 1196 new repo (#2125)
  vars/sync2ProdPMMClient.groovy
Owners: @Percona-Lab/build-engineers

PMM-12156 Update pmm/pmm2-server-autobuild-el9.groovy
  pmm/pmm2-server-autobuild-el9.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

K8SPG-355 add cluster wide (#2122)
  cloud/jenkins/pgo_operator_eks.groovy
  cloud/jenkins/pgo_operator_gke_latest.groovy
  cloud/jenkins/pgo_operator_gke_version.groovy
  cloud/jenkins/pgo_operator_minikube.groovy
Owners: @hors, @tplavcic, @nmarukovich, @cap1984

PMM-12156 Update pmm/pmm2-server-autobuild-el9.groovy
  pmm/pmm2-server-autobuild-el9.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-server-autobuild-el9.groovy
  pmm/pmm2-server-autobuild-el9.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PMM-12156 Update pmm/pmm2-server-autobuild-el9.groovy
  pmm/pmm2-server-autobuild-el9.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

ENG-1126 Automate PXB 8.0 and PXB 2.4 release jenkins job
  pxb/jenkins/pxb-24.groovy
  pxb/jenkins/pxb-24.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Added zephyr reporting
  pbm/pbm-functional-tests-full.groovy
  pbm/pbm-functional-tests.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PXC-4213: Make possible to disable tests executed in ci_fs (#2121)
  pxc/local/test-binary-pxc-parallel-mtr
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

ENG-1126 Automate PXB 8.0 release jenkins job
  pxb/jenkins/pxb-80.groovy
  pxb/jenkins/pxb-80.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

ENG-1126 Automate PXB 8.0 release jenkins job
  pxb/jenkins/pxb-80.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

ENG-1126 Automate PXB 8.0 release jenkins job
  pxb/jenkins/pxb-80.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

ENG-1126 Automate PXB 8.0 release jenkins job
  pxb/jenkins/pxb-80.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

ENG-1126 Automate PXB 8.0 and PXB 2.4 release jenkins job
  pxb/jenkins/pxb-24.groovy
  pxb/jenkins/pxb-24.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-7 bump 2.37.0 version
  vars/pmmVersion.groovy
Owners: @Percona-Lab/build-engineers

Update pmmVersion.groovy
  vars/pmmVersion.groovy
Owners: @Percona-Lab/build-engineers

PMM-7 bump 2.37.0 version (#2129)
  vars/pmmVersion.groovy
Owners: @Percona-Lab/build-engineers

Add OL9 support to PT tests
  pt/jenkins/pt-package-testing-all.groovy
  pt/jenkins/pt-package-testing.groovy
Owners: @eleo007, @panchal-yash, @Percona-Lab/build-engineers

Change python version
  pt/jenkins/pt-package-testing.groovy
Owners: @eleo007, @panchal-yash, @Percona-Lab/build-engineers

Change python version
  pt/jenkins/pt-package-testing.groovy
Owners: @eleo007, @panchal-yash, @Percona-Lab/build-engineers

Remove debug info
  pt/jenkins/pt-package-testing.groovy
Owners: @eleo007, @panchal-yash, @Percona-Lab/build-engineers

Add ol9 to PT tests (#2130)
  pt/jenkins/pt-package-testing-all.groovy
  pt/jenkins/pt-package-testing.groovy
Owners: @eleo007, @panchal-yash, @Percona-Lab/build-engineers

use epel-repo
  pt/jenkins/pt-package-testing.groovy
Owners: @eleo007, @panchal-yash, @Percona-Lab/build-engineers

add psmdb60
  pt/jenkins/pt-package-testing-all.groovy
  pt/jenkins/pt-package-testing-all.yml
  pt/jenkins/pt-package-testing.groovy
  pt/jenkins/pt-package-testing.yml
Owners: @eleo007, @panchal-yash, @Percona-Lab/build-engineers
