Repository Percona-Lab/jenkins-pipelines, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Percona-Lab/build-engineers, @egegunes, @inelpandzic, @hors, @tplavcic, @nmarukovich, @cap1984, @talhabinrizwan, @atymchuk, @puneet0191, @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @olexandr-havryliak, @sandraromanchenko

.github/CODEOWNERS:

# Global owners
* @Percona-Lab/build-engineers

/cloud/gcp-functions/ @egegunes @inelpandzic
/cloud/ @hors @tplavcic @nmarukovich @cap1984 
/pmm/ @talhabinrizwan @atymchuk @puneet0191
/IaC/pmm.cd/ @talhabinrizwan @atymchuk
/pxb/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pxc/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/ps/jenkins/ @mchawla16 @eleo007 @mohitj1988 @kaushikpuneet07 @panchal-yash @Percona-Lab/build-engineers
/pt/  @eleo007 @panchal-yash @Percona-Lab/build-engineers
/pbm/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/psmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdmdb/ @olexandr-havryliak @sandraromanchenko @Percona-Lab/build-engineers
/pdps/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers
/pdpxc/ @eleo007 @kaushikpuneet07 @Percona-Lab/build-engineers

PS-8875-Release-tasks-ticket-for-PS-5.7.43-47 (#2250)
  ps/jenkins/percona-server-for-mysql-5.7.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Add bookworm distribution in package testing JOB 5.7 (#2249)
  ps/jenkins/package-testing-ps-5.7.groovy
  ps/jenkins/package-testing-ps-5.7.yml
  ps/jenkins/package-testing-ps-build-5.7.groovy
  ps/jenkins/package-testing-ps-build-5.7.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-7 bump PMM version
  vars/pmmVersion.groovy
Owners: @Percona-Lab/build-engineers

Update pmmVersion.groovy
  vars/pmmVersion.groovy
Owners: @Percona-Lab/build-engineers

ENG-7 pxc.cd: change instance type due to high interruption rate
  IaC/pxc.cd/init.groovy.d/cloud.groovy
Owners: @Percona-Lab/build-engineers

Exclusing bookworm fromm PS 5.6 install playbook
  ps/jenkins/package-testing-ps-build-5.7.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Exclusing bookworm fromm PS 5.6 install playbook (#2252)
  ps/jenkins/package-testing-ps-build-5.7.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Bookworm fix
  ps/jenkins/package-testing-ps-build-5.7.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-7 bump PMM version (#2251)
  vars/pmmVersion.groovy
Owners: @Percona-Lab/build-engineers

Bookworm fix (#2253)
  ps/jenkins/package-testing-ps-build-5.7.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

use pip based ansible installation for jammy issues (#2242)
  pxb/jenkins/pxb-package-testing.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Add slack channel, move the variable declaration to the create pxb sour tarball stage
  pxb/jenkins/pxb-80.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Add slack channel, move the variable declaration to the create pxb sour tarball stage (#2254)
  pxb/jenkins/pxb-80.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

8.1 multijob
  pxb/v2/jenkins/percona-xtrabackup-8.1.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

PMM-9769 Fix EL9 build.
  pmm/pmm2-ami.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

PSMDB disable featureFlagDeprioritizeLowPriorityOperations by default
  psmdb/psmdb-regression.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PSMDB disable featureFlagDeprioritizeLowPriorityOperations by default (#2255)
  psmdb/psmdb-regression.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Added 8.1 compile pipeline
  pxb/v2/jenkins/percona-xtrabackup-8.1-compile-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-compile-pipeline.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Fixed version check
  pxb/v2/jenkins/percona-xtrabackup-8.1-compile-pipeline.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Added test pipeline for 8.1
  pxb/v2/jenkins/percona-xtrabackup-8.1-compile-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-compile-pipeline.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Cahnged AZURITE to bool
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Added 8.1 multijob
  pxb/v2/jenkins/percona-xtrabackup-8.1.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Added param jobs
  pxb/v2/jenkins/percona-xtrabackup-8.1-compile-param.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-param.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

ENG-1210 Use Dockerfile.el9.ubi to build pmm-server.
  pmm/pmm2-submodules.groovy
Owners: @talhabinrizwan, @atymchuk, @puneet0191

Fixed Centos7 build by raising the gcc to 8
  pxb/v2/jenkins/percona-xtrabackup-8.1-compile-param.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-compile-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-compile-pipeline.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-param.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.yml
  pxb/v2/local/build-binary
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

fixed jenkins branch
  pxb/v2/jenkins/percona-xtrabackup-8.1-compile-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

speedup git clone
  pxb/v2/local/checkout
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

fixed typo in clone
  pxb/v2/local/checkout
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

speedup checkout
  pxb/v2/local/checkout
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

fixed branch command
  pxb/v2/local/checkout
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

allow for re-run tests from specific buildID
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-param.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Fixed BuilID
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-param.yml
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.groovy
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.yml
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Adjusted Specific BuildID
  pxb/v2/jenkins/percona-xtrabackup-8.1-test-pipeline.groovy
Owners: @mchawla16, @eleo007, @mohitj1988, @kaushikpuneet07, @panchal-yash, @Percona-Lab/build-engineers

Fix pg_versions
  ppg/pgpool2-build.groovy
Owners: @Percona-Lab/build-engineers

Fix pg_versions (#2256)
  ppg/pgpool2-build.groovy
Owners: @Percona-Lab/build-engineers

PSMDB-1259 create_build_job_psmdb70
  psmdb/jenkins/get-psmdb-branches-7.0.groovy
  psmdb/jenkins/get-psmdb-branches-7.0.yml
  psmdb/jenkins/percona-server-for-mongodb-7.0.groovy
  psmdb/jenkins/percona-server-for-mongodb-7.0.yml
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

PSMDB-1259 create_build_job_psmdb70
  psmdb/jenkins/get-psmdb-branches-7.0.groovy
  psmdb/jenkins/get-psmdb-branches-7.0.yml
  psmdb/jenkins/percona-server-for-mongodb-7.0.groovy
  psmdb/jenkins/percona-server-for-mongodb-7.0.yml
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers

Proxysql Version update
  proxysql/qa-proxysql2-param.yml
  proxysql/qa-proxysql2-pipeline.groovy
Owners: @Percona-Lab/build-engineers

Proxysql Version update (#2258)
  proxysql/qa-proxysql2-param.yml
  proxysql/qa-proxysql2-pipeline.groovy
Owners: @Percona-Lab/build-engineers

PBM-1170 pbm: create debian 12 packages
  pbm/jenkins/percona-mongodb-backup.groovy
Owners: @olexandr-havryliak, @sandraromanchenko, @Percona-Lab/build-engineers
